<!doctype html>

<html ng-app = 'Myapp' ng-controller="MainCtrl">
<head>
	<title>Que Milonga?</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset="UTF-8">

<!--     Bootstrap and jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--     <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>




<!--     Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Noto+Serif:700i" rel="stylesheet">

<!-- angular google maps -->
    <script src='lodash/lodash.js'></script>
    <script src="angular/angular.js"></script>
    <script src="angular-route/angular-route.js"></script>
    <script src='angular-simple-logger/dist/angular-simple-logger.js'></script>

    <!--     ANGULAR CALENDAR -->
    <link href="angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
    <script src="angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-touch/angular-touch.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.js"></script>
    




    <script src = "app.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCVt2_VyislvhmEKm-DzrFwfarQaLrTs4Q"></script>
<!--     <script src='angular-google-maps/dist/angular-google-maps.js'></script> -->
    <script src="angular-google-places-autocomplete/src/autocomplete.js"></script>
    <link rel="stylesheet" href="angular-google-places-autocomplete/src/autocomplete.css">




    <!-- controllers -->
    <script src = "/controllers/testindexcontroller.js"></script>
    <script src = "/controllers/newController.js"></script>
    <script src = "/controllers/editMilongaController.js"></script>
    <script src = "/controllers/showController.js"></script>
    <script src = "/controllers/loginController.js"></script>
    <script src = "/controllers/adminController.js"></script>
    <script src = "/controllers/profileController.js"></script>
    <script src = "/controllers/newClassController.js"></script>
    <script src = "/controllers/editClassController.js"></script>


    
	<!-- factories -->
    <script src = "/factories/eventsFactory.js"></script>

    <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">

<!--     FB LOGGIN -->
    <!-- <script src="angularFacebookUtils/src/facebookUtils.min.js"></script> -->
    <script src="ng-facebook/ngFacebook.js"></script>

    <!-- ANGULAR COOKIES -->
    <script src="angular-cookies/angular-cookies.js"></script>

<!--     multidatepicker
 -->
    <link rel="stylesheet" type="text/css" href="/angular-multiple-date-picker/dist/multiple-date-picker.css"/>
    <script type="text/javascript" src="/angular-multiple-date-picker/dist/multipleDatePicker.min.js"></script>

<!--     multiselect for performers -->
    <script src="isteven-multi-select.js"></script>
    <link rel="stylesheet" href="isteven-multi-select.css">

<!-- get edit distance for adding a performer -->
    <script src="levenshtein.js"></script>
            
</head>
<header class="clearfix">
    <div class="container foto">
        <div class="header-left">
            <a href="#/" id="queMilonga">QueMilonga<span id="com">.com</span></a>
        </div>
        <div class="header-right">
            <label for="open">
                <span class="hidden-desktop"></span>
            </label>
            <input type="checkbox" name="" id="open">
            <nav>
                <a ng-if='!user' ng-click='login(); closeNav()' class="navLinks">Login</a>
                <a ng-if='user' ng-click='logout(); closeNav()' class="navLinks">Logout</a>
                <a href="#/profile" ng-if='user' class="navLinks" ng-click='closeNav()'>{{user.first_name}} {{user.last_name}}</a>
                <a id="newMilLink" class="navLinks" href="#/milongas/new" ng-click='closeNav()'>POST NEW MILONGA</a>
                <a id="newMilLink" class="navLinks" href="#/classes/new" ng-click='closeNav()'>POST NEW CLASS</a>
                <a ng-click='findPerformerModal(); closeNav()' class="navLinks">Find Performer's Schedule</a>
            </nav>
        </div>
    </div>
</header>


<div id="wrapper">
    
    <body>

        <div >
            
            <div ng-view id="mainInfo"></div>

        </div>



        <!-- SEE FACEBOOK FRIENDS MODAL -->

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Your Facebook friends attending this event</h4>
              </div>
              <div class="modal-body">
                <button ng-click='getFriends()'>Get Friends</button>
                Section under development. Thank you for your patience.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <!-- ADD A TEACHER OR PERFORMER MODAL -->
        <div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="container">
                        <br><h4 class="noto">Add a Performer or Teacher</h4><br>


                        <form name="form2">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Performer's or teacher's full name: (e.g: "Osvaldo Zotto")</label>
                                <input type="text" class="form-control" id="recipient-name" ng-model="dancer.name" name="dName" required="">
                                <div class="errorMsgs" ng-show="form2.$submitted || form2.dName.$touched">
                                    <div ng-show="form2.dName.$error.required">Enter a full name</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">Where is he/she from?</label>
                                <input type="text" class="form-control" id="recipient-name" ng-model="dancer.from" name="dFrom" required="">
                                <div class="errorMsgs" ng-show="form2.$submitted || form2.dFrom.$touched">
                                    <div ng-show="form2.dFrom.$error.required">Enter a city</div>
                                </div>
                            </div>
                        

                        <div ng-if='matches.length > 0'>
                            <h3 class="noto">Did you mean...</h3>
                            <h4 ng-repeat='m in matches' class="body_links" style="cursor: pointer" ng-click='selectMatch(m)'>.. {{m.name}}?</h4>
                            <br>
                            <p>If we couldn't find a match, you can still put a request to add him/her.</p>
                        </div>
                        <div ng-if='matches && matches.length == 0'>
                            <h5 style="color:red;" id="noMatchMessage">We couldn't find a match, you can still put a request to add him/her to our database.</h5>
                        </div>
                        <div ng-if='msg'>
                            <h5 style="color:green;" >Thanks! Request succesfully submitted.</h5>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input ng-show='!matches' type="submit" class="btn btn-primary noto" ng-click="findMatches(1)" value="Find Match"/>
                        <input ng-show='matches' type="submit" class="btn btn-primary noto" ng-click="addPerformer()" value="Request Permission to Add"/>
                        </form>
                    </div>
                </div>

            </div>
        </div>


        <!-- FIND PERFORMER'S SCHEDULE MODAL -->
        <div class="modal fade bd-example-modal-sm" id="findPerformerModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="container">
                        <br><h4 class="noto">Find a Performer</h4><br>


                        <form name="form2">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Performer's full name: (e.g: "Osvaldo Zotto")</label>
                                <input type="text" class="form-control" id="recipient-name" ng-model="dancer.name" name="dName" required="">
                                <div class="errorMsgs" ng-show="form2.$submitted || form2.dName.$touched">
                                    <div ng-show="form2.dName.$error.required">Enter a full name</div>
                                </div>
                            </div>
                        

                        <div ng-if='matches.length > 0'>
                            <h3 class="noto">Did you mean...</h3>
                            <a ng-repeat='m in matches' class="body_links" style="cursor: pointer; display: block;" ng-click='viewPerformer(m._id)'>.. {{m.name}}?</a>
                            <br>
                            <p>If we couldn't find a match, you can still put a request to add him/her.</p>
                        </div>
                        <div ng-if='matches.length == 0'>
                            <h5 style="color:red;" id="noMatchMessage">We couldn't find a match, you can still put a request to add him/her to our database.</h5>
                        </div>
                        <div ng-if='msg'>
                            <h5 style="color:green;" >Thanks! Request succesfully submitted.</h5>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input ng-show='!matches' type="submit" class="btn btn-primary noto" ng-click="findMatches(2)" value="Find Match"/>
                        <input ng-show='matches' type="submit" class="btn btn-primary noto" ng-click="addPerformer()" value="Request Permission to Add"/>
                        </form>
                    </div>
                </div>

            </div>
        </div>



        <!-- LOGIN MODAL -->
        <div class="modal fade bd-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="container">
                        <br><br><h5 class="noto">Please Login to continue</h5>
                            <br>
                            <button id="login-btn" ng-click="loginToggle()">
    <!--                            <span ng-if="status">Logout</span>
                                <span ng-if="!status">Login</span> -->
                            </button> <br><br><br>
    <!--                         <span ng-if="status" class="message">
                                You are <strong>Logged in</strong> as <em>{{user.name}}</em>
                            </span>
                            <span ng-if="!status" class="message">
                                You are <strong>not</strong> logged in.
                            </span><br><br> -->
                            <h6 style="color:gray;">This does not let the app post to Facebook.</h6>

                    </div>
                </div>

            </div>
        </div>

            
    </body>
    <footer class="foto2">

            <ul class="container centered" id="footerNav">
                <a href="#/">Performers Account Linking</a>
                <a ng-click='openSurvey()'>Provide Feedback</a>
                <a ng-click=''>Translate to my Language</a>
                <a ng-click='sendMail("qmilonga@gmail.com","Contact Developer","Do you need to contact the developer of this website? Please send an Email with your contact information and I will get back to you asap.")'>Developed by Ana Thomas <span class="body_links">Contact</span></a>
            </ul>
            <h6 style="color: white; margin: 0;" class="centered">© QueMilonga.com | All rights reserved.</h6>

    </footer>


</div> <!-- END OF WRAPPER -->


</html>

