<div class="container">
	<h3>Add dancer REQUESTS:</h3>

	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Time</th>
	      <th>Request made by</th>
	      <th>Name of Dancer</th>
	      <th>City of Dancer</th>
	      <th>Accept/Destroy</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-if="dancerRequests" ng-repeat='r in dancerRequests track by $index'>

	      <th scope="row">{{r.createdAt | date:'short'}}</th>

	      <td><a href="http://www.facebook.com/{{r.requested_by.fb_id}}" style="color: red;">{{r.requested_by.first_name}} {{r.requested_by.last_name}}</a></td>

	      <td>{{r.name}}</td>

	      <td>{{r.from}}</td>

	      <td>
	      	<button ng-click='addPerformer($index)'>Accept</button>
	      	<button ng-click='destroyRequest($index)'>Destroy</button>
	      	<button ng-click='editRequest($index)'>Edit</button>
	      </td>

	    </tr>
	  </tbody>
	</table><br><br><hr><br>

	<h4>Dancers currently in the Dadabase</h4><br>

	<div>
        <input class="form-control" type="text" ng-model="filter_name" placeholder="Filter by city, teacher, etc">
    </div>
    <br>
    <div style="height: 300px; overflow: scroll;">
		<table class="table table-hover" >
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>From</th>
		      <th>ID</th>
		      <th>FB ID</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-if="dancers && d.pending == false" ng-repeat='d in dancers | filter:filter_name'>

		      <th scope="row">{{d.name}}</th>

		      <td>{{d.from}}</td>

		      <td>{{d._id}}</td>

		      <td>FB ID TO BE ADDED</td>

		    </tr>
		  </tbody>
		</table>
	</div>


</div>

<!-- EDIT TEACHER REQUEST MODAL -->
        <div class="modal fade bd-example-modal-sm" id="editRequestModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="container">
                        <br><h4 class="noto">EDIT REQUEST</h4><br>


                        <form name="form2">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Performer's or teacher's full name:</label>
                                <input type="text" class="form-control" id="recipient-name" ng-model="dancer.name" name="dName" required="">
                                <div class="errorMsgs" ng-show="form2.$submitted || form2.dName.$touched">
                                    <div ng-show="form2.dName.$error.required">Enter a full name</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">Where is he/she from?</label>
                                <input type="text" class="form-control" id="recipient-name" ng-model="dancer.from" name="dFrom" required="">
                                <div class="errorMsgs" ng-show="form2.$submitted || form2.dFrom.$touched">
                                    <div ng-show="form2.dFrom.$error.required">Enter a city</div>
                                </div>
                            </div>
                        

                        
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary noto" ng-click="saveEditRequest()" value="EDIT"/>
                        </form>
                    </div>
                </div>

            </div>
        </div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90299590-1', 'auto');
  ga('send', 'pageview');

</script>