<div class="container">
	<h3>Add dancer REQUESTS:</h3>

	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Time</th>
	      <th>Request made by</th>
	      <th>Id # on FB</th>
	      <th>Name of Dancer</th>
	      <th>City of Dancer</th>
	      <th>Accept/Destroy</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-if="dancerRequests" ng-repeat='r in dancerRequests track by $index'>

	      <th scope="row">{{r.createdAt | date:'short'}}</th>

	      <td>{{r.user.name}}</td>

	      <td>{{r.user.id}}</td>

	      <td>{{r.dancer_name}}</td>

	      <td>{{r.dancer_from}}</td>

	      <td>
	      	<button ng-click='addPerformer($index)'>Accept</button>
	      	<button ng-click='destroyRequest($index)'>Destroy</button>
	      </td>

	    </tr>
	  </tbody>
	</table><br><br><hr><br>

	<h4>Dancers currently in the Dadabase</h4><br>

	<div>
        <input class="form-control" type="text" ng-model="filter_name" placeholder="Filter by city, teacher, etc">
    </div>
    <br>
    <div style="height: 300px; overflow: scroll;">
		<table class="table table-hover" >
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>From</th>
		      <th>ID</th>
		      <th>FB ID</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-if="dancers" ng-repeat='d in dancers | filter:filter_name'>

		      <th scope="row">{{d.name}}</th>

		      <td>{{d.from}}</td>

		      <td>{{d._id}}</td>

		      <td>FB ID TO BE ADDED</td>

		    </tr>
		  </tbody>
		</table>
	</div>

		<!-- LOGIN MODAL -->
	<div class="modal fade bd-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<div class="container">
					<br><br><h4>Please Login with Facebook to continue</h4>
						<br>
				        <button id="login-btn" ng-click="loginToggle()">
<!-- 				            <span ng-if="status">Logout</span>
				            <span ng-if="!status">Login</span> -->
				        </button> <br><br><br>
				        <span ng-if="status" class="message">
				            You are <strong>Logged in</strong> as <em>{{user.name}}</em>
				        </span>
				        <span ng-if="!status" class="message">
				            You are <strong>not</strong> logged in.
				        </span><br><br>

				</div>
			</div>

		</div>
	</div>


</div>