<div class="container"><br>

	<h2 class="noto"> Edit Milonga {{editMilonga.title}} </h2>
	<h3> {{editMilonga.date | date : fullDate}} </h3>

	<div class="alert alert-warning fade in">
    	<button class="close" data-dismiss="alert" aria-label="close">&times;</button>
    	<strong>Thanks <span ng-if='user.first_name' style="text-decoration: underline;">{{user.first_name}}</span> for your interest in helping the community!</strong> Please make sure the info you edit is accurate.
  	</div>

  	<form name="form">
	<div class="form-group row">
	  <label for="example-date-input" class="col-md-4 col-form-label">Date * </label>
	  <div class="col-md-8">

		 <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="options" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="mDate" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <div class="errorMsgs" ng-show="form.$submitted || form.mDate.$touched">
      		<div ng-show="form.mDate.$error.required">Enter a date</div>
    	</div>

	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-4 col-form-label" >Title *</label>
	  <div class="col-md-8">
	    <input class="form-control" type="text" ng-click='passDate()' value="Artisanal kale" id="example-text-input" ng-model="editMilonga.title" name="mTitle" required="" maxlength="25">
	    <div class="errorMsgs" ng-show="form.$submitted || form.mTitle.$touched">
      		<div ng-show="form.mTitle.$error.required">Enter a title</div>
      	</div>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">Start Time *</label>
	  <div class="col-md-8">
	    <input class="form-control" type="time" id="example-time-input" ng-model="m_st" name="mStart" required="">
	    <div class="errorMsgs" ng-show="form.$submitted || form.mStart.$touched">
      		<div ng-show="form.mStart.$error.required">Enter a valid starting time</div>
      	</div>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">End Time *</label>
	  <div class="col-md-8">
	    <input class="form-control" type="time" id="example-time-input" ng-model="m_et" name="mEnd" required="">
	    <div class="errorMsgs" ng-show="form.$submitted || form.mEnd.$touched">
      		<div ng-show="form.mEnd.$error.required">Enter a valid ending time</div>
      	</div>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">Performers</label>
	  <div class="col-md-8">
			<div
		    isteven-multi-select
		    input-model="performers"
		    output-model="outputPerformers"
		    button-label="icon name"
		    item-label="name"
		    tick-property="ticked"
		    ng-click="toggleList('p')">
			</div>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-number-input" class="col-md-4 col-form-label">Milonga Price *</label>
	  <div class="col-md-8">
	    <input class="form-control" type="number" min="0" id="example-number-input" ng-model='editMilonga.price' name="mPrice" required="">
	    <div class="errorMsgs" ng-show="form.$submitted || form.mPrice.$touched">
      		<div ng-show="form.mPrice.$error.required">Enter a numeric value in your currency. (E.g: '12')</div>
      	</div>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-4 col-form-label">Address * <a class="body_links" ng-click='editAddress()'>Edit</a></label>
	  <div class="col-md-8" ng-show='addressForm'>
	    <input class="form-control" type="text" g-places-autocomplete ng-model='address' options="autocompleteOptions" placeholder="Start typing and choose from options" name="mAddress"/>
	    <div class="errorMsgs" ng-show="form.$submitted || form.mAddress.$touched">
      		<div ng-show="form.mAddress.$error.required || !address.address_components || !hasStNumber()" class="redBorder">Invalid format. Start typing an address and choose from Google results.</div>
      	</div>
	  </div>
	  <div class="col-md-8" ng-show='!addressForm'>
	    <p>{{editMilonga.address.st_number}} {{editMilonga.address.st_name}}, {{editMilonga.address.city}}, {{editMilonga.address.state}}, {{editMilonga.address.country}}. {{editMilonga.address.zip_code}}</p>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-4 col-form-label" >Address Details</label>
	  <div class="col-md-8">
	    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input" ng-model="editMilonga.address.details" maxlength="60" placeholder="Additional address details">
	  </div>
	</div>

	<br><br>

  	<h4 for="example-number-input" >Edit Class Details</h4><br>

	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">Class Start Time</label>
	  <div class="col-md-8">
	    <input class="form-control" type="time" ng-value='{{editMilonga.class_start_time}}' id="example-time-input" ng-model="m_cst">
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">Class End Time</label>
	  <div class="col-md-8">
	    <input class="form-control" type="time" value="13:45:00" id="example-time-input" ng-model="m_cet">
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">Class Teachers</label>
	  <div class="col-md-8">
			<div
		    isteven-multi-select
		    input-model="teachers"
		    output-model="outputTeachers"
		    button-label="icon name"
		    item-label="name"
		    tick-property="ticked"
		    ng-click="toggleList('t')">
			</div>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-number-input" class="col-md-4 col-form-label">Class Price</label>
	  <div class="col-md-8">
	    <input class="form-control" type="number" min="0" id="example-number-input" ng-model='editMilonga.class_price'>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-number-input" class="col-md-4 col-form-label">Class + Milonga combo price (optional):</label>
	  <div class="col-md-8">
	    <input class="form-control" type="number" min="0" id="example-number-input" ng-model='editMilonga.class_combo_price'>
	  </div>
	</div><br><hr><br>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-4 col-form-label">Additional Milonga Details</label>
	  <div class="col-md-8">
	    <textarea class="form-control" id="exampleTextarea" maxlength="600" ng-model='editMilonga.details' placeholder="Max Length 600 characters."></textarea>
	  </div>
	</div><br>
	
	<div class="form-group row">
	  <label for="example-text-input" class="col-xs-6 col-form-label"></label>
	  <div class="col-xs-2">
	    <input type="submit" value="EDIT Milonga" ng-click='updateMilonga()' class="btn btn-primary noto"></input>
	  </div>
	</div>
	</form>

	<br><br><br><br>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90299590-1', 'auto');
  ga('send', 'pageview');

</script>