<div class="container"><br>

	<h2> Edit Milonga {{editMilonga.title}} </h2>
	<h3> {{editMilonga.date | date : fullDate}} </h3>
	<h5> {{editMilonga.address.st_number}} {{editMilonga.address.st_name}}, {{editMilonga.address.city}}, {{editMilonga.address.state}}. {{editMilonga.address.details}}</h5><br><br>

	<div class="alert alert-warning fade in">
    	<button class="close" data-dismiss="alert" aria-label="close">&times;</button>
    	<strong>Thanks <span ng-if='user.name'>{{user.name}}</span> for your interest in helping the community!</strong> Please make sure the info you edit is accurate.
  	</div>


	<div class="form-group row">
	  <label for="example-date-input" class="col-md-4 col-form-label">Date</label>
	  <div class="col-md-8">

		 <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="editMilonga.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Complete only if date changed" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>

	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-4 col-form-label" >Title</label>
	  <div class="col-md-8">
	    <input class="form-control" type="text" ng-click='passDate()' value="Artisanal kale" id="example-text-input" ng-model="editMilonga.title">
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">Start Time</label>
	  <div class="col-md-8">
	    <input class="form-control" type="time" id="example-time-input" ng-model="editMilonga.start_time">
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">End Time</label>
	  <div class="col-md-8">
	    <input class="form-control" type="time" id="example-time-input" ng-model="editMilonga.end_time">
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">Performers</label>
	  <div class="col-md-8">
			<div
		    isteven-multi-select
		    input-model="performers"
		    output-model="outputPerformers"
		    button-label="icon name"
		    item-label="name"
		    tick-property="ticked">
			</div>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-number-input" class="col-md-4 col-form-label">Milonga Price</label>
	  <div class="col-md-8">
	    <input class="form-control" type="number" min="1" id="example-number-input" ng-model='editMilonga.price'>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-4 col-form-label">Address</label>
	  <div class="col-md-8">
	    <input class="form-control" type="text" g-places-autocomplete ng-model='address' options="autocompleteOptions" placeholder="Complete only if address changed" />
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-4 col-form-label" ></label>
	  <div class="col-md-8">
	    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input" ng-model="editMilonga.address.details" max="20" placeholder="Additional address details">
	  </div>
	</div>

	<br><br>
	<div class="form-group row">
	  <h4 for="example-number-input" >Is there a Class before the Milonga? This section is optional.</h4>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">Class Start Time</label>
	  <div class="col-md-8">
	    <input class="form-control" type="time" ng-value='{{editMilonga.class_start_time}}' id="example-time-input" ng-model="editMilonga.class_start_time">
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">Class End Time</label>
	  <div class="col-md-8">
	    <input class="form-control" type="time" value="13:45:00" id="example-time-input" ng-model="editMilonga.class_end_time">
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-4 col-form-label">Class Teachers</label>
	  <div class="col-md-8">
			<div
		    isteven-multi-select
		    input-model="teachers"
		    output-model="outputTeachers"
		    button-label="icon name"
		    item-label="name"
		    tick-property="ticked">
			</div>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-number-input" class="col-md-4 col-form-label">Class Price</label>
	  <div class="col-md-8">
	    <input class="form-control" type="number" min="1" id="example-number-input" ng-model='editMilonga.class_price'>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-number-input" class="col-md-4 col-form-label">Class + Milonga combo price (optional):</label>
	  <div class="col-md-8">
	    <input class="form-control" type="number" min="1" id="example-number-input" ng-model='editMilonga.class_combo_price'>
	  </div>
	</div><br><hr><br>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-4 col-form-label">Additional Milonga Details</label>
	  <div class="col-md-8">
	    <textarea class="form-control" id="exampleTextarea" maxlength="500" ng-model='editMilonga.details' placeholder="Max Length 500 characters."></textarea>
	  </div>
	</div><br>
	
	<div class="form-group row">
	  <label for="example-text-input" class="col-xs-6 col-form-label"></label>
	  <div class="col-xs-2">
	    <input type="submit" value="EDIT Milonga" ng-click='updateMilonga()' class="btn btn-primary"></input>
	  </div>
	</div>

	<br><br><br><br>


	<!-- ADD A TEACHER MODAL -->
	<div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<div class="container">
					<br><h4>Add a Performer or Teacher</h4>


					<form>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">Performer\'s or teacher\'s full name: (e.j: "Osvaldo Zotto")</label>
							<input type="text" class="form-control" id="recipient-name" ng-model="dancer.name">
						</div>
						<div class="form-group">
							<label for="message-text" class="form-control-label">Where is he/she from?</label>
							<input type="text" class="form-control" id="recipient-name" ng-model="dancer.from">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="addPerformer()">Add</button>
				</div>
			</div>

		</div>
	</div>

	<!-- LOGIN MODAL -->
	<div class="modal fade bd-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<div class="container">
					<br><br><h4>Please Login with Facebook to continue</h4>
						<br>
				        <button id="login-btn" ng-click="loginToggle()">
<!-- 				            <span ng-if="status">Logout</span>
				            <span ng-if="!status">Login</span> -->
				        </button> <br><br><br>
				        <span ng-if="status" class="message">
				            You are <strong>Logged in</strong> as <em>{{user.name}}</em>
				        </span>
				        <span ng-if="!status" class="message">
				            You are <strong>not</strong> logged in.
				        </span><br><br>

				</div>
			</div>

		</div>
	</div>

</div>