<div class="container">
	<h1 class="inline" style="font-family: 'La Belle Aurore', cursive; font-weight: bolder;">QueMilonga.com</h1><h2 class="inline" style="color: #b30000;"><strong>FORUM</strong></h2><br>

        <br><button type="button" class="but btn" ng-click="newThread()">CREATE NEW THREAD</button><br><br>

    <div style="height: 60em; overflow: scroll;" >
    	<table class="table table-hover">
    	<div class="col-md-8">
            <input class="form-control" type="text" ng-model="thread_name" placeholder="Search threads by keywords">
        </div>

        	  <tbody>
        	    <tr ng-if="threads" ng-repeat='t in threads | filter:thread_name | orderBy: "createdAt":true track by t._id '>

        	        <td>
        	        	<h6 style="color: gray">{{t.createdAt | date : fullDate}}</h6>
        	      		<h4 style="font-weight: bolder;"><a style="color: black" href="#/threads/{{t._id}}">{{t.title}}</a></h4>
        	      		<h5 class="inline"><strong>By <a href="http://www.facebook.com/{{t._user.fb_id}}" class="body_links">{{t._user.first_name}} {{t._user.last_name}}</a></strong> |</h5>
        	      		<h5 class="inline" ng-if='t._comments'><strong>{{t._comments.length}}</strong> comments </h5>
        	      		<h5 class="inline"> | <strong>{{t.views}}</strong> views </h5>
        	      		<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.quemilonga.com%2F%23%2Fthreads%2F{{t._id}}&picture=https%3A%2F%2Fs3-us-west-1.amazonaws.com%2Fwww.quemilonga.com%2Fforum2.png&title={{t.title}}&caption=QueMilonga.com+%7C+Worldwide+Tango+Calendar&quote=Check+out+this+thread+on+QueMilonga.com+FORUM&description={{t.content}}"><div class='shareButton inline'></div><br></a>
        	        </td>

        	      <td ng-if='user._id && t._user._id == user._id'>
        	      	<button class="but btn" ng-click='editThread(t._id)'>Edit</button>
        	      	<button class="but btn" ng-click='destroyThread(t._id)'>Delete</button>
        	      </td>

        	    </tr>
        	  </tbody>

    	</table>
    </div>
    <br><br><hr><br>



</div>

<!-- NEW THREAD MODAL -->
        <div class="modal fade bd-example-modal-lg" id="newThreadModal" tabindex="-1" role="dialog" aria-labelledby="mylgallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="container">
                        <br><h4 class="noto">Create a new thread</h4><br>


                        <form name="form2">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">TITLE:</label>
                                <input type="text" class="form-control" id="recipient-name" ng-model="thread.title" name="dName" required="" ng-minlength="20" maxlength="180">
                                <div class="errorMsgs" ng-show="form2.$submitted || form2.dName.$touched">
                                    <div ng-show="form2.dName.$error.required">Title is required</div>
                                    <div ng-show="form2.dName.$error.minlength">Minimum length is 20 characters</div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">CONTENT:</label>
                                <textarea class="form-control" id="recipient-name" ng-model="thread.content" name="dFrom" required="" rows="15" ng-minlength="150" maxlength="5000">Enter content here</textarea>
                                <div class="errorMsgs" ng-show="form2.$submitted || form2.dFrom.$touched">
                                    <div ng-show="form2.dFrom.$error.required">Content is required</div>
                                    <div ng-show="form2.dFrom.$error.minlength">Minimum length is 150 characters</div>
                                </div>
                            </div>
                        

                        
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary noto" ng-click="addThread()" value="CREATE"/>
                        </form>
                    </div>
                </div>

            </div>
        </div>






<!-- EDIT THREAD MODAL -->
        <div class="modal fade bd-example-modal-lg" id="editThreadModal" tabindex="-1" role="dialog" aria-labelledby="mylgallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="container">
                        <br><h4 class="noto">EDIT YOUR THREAD</h4><br>


                        <form name="form3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">TITLE:</label>
                                <input type="text" class="form-control" id="recipient-name" ng-model="thread.title" name="dName" required="" ng-minlength="20" maxlength="180">
                                <div class="errorMsgs" ng-show="form3.$submitted || form3.dName.$touched">
                                    <div ng-show="form3.dName.$error.required">Title is required</div>
                                    <div ng-show="form3.dName.$error.minlength">Minimum length is 20 characters</div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">CONTENT:</label>
                                <textarea class="form-control" id="recipient-name" ng-model="thread.content" name="dFrom" required="" rows="15" ng-minlength="150" maxlength="5000">Enter content here</textarea>
                                <div class="errorMsgs" ng-show="form3.$submitted || form3.dFrom.$touched">
                                    <div ng-show="form3.dFrom.$error.required">Content is required</div>
                                    <div ng-show="form3.dFrom.$error.minlength">Minimum length is 150 characters</div>

                                </div>
                            </div>
                        

                        
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary noto" ng-click="updateThread()" value="SAVE"/>
                        </form>
                    </div>
                </div>

            </div>
        </div>