<div class="container"><br><br>
	
	<h3 class="noto">Take a look! </h3>
	<h4>These are the spots <strong class="noto"><span>QueMilonga.com</span></strong> has reached so far </h4>
	<br>


	<div class="alert alert-warning fade in">
		<button class="close" data-dismiss="alert" aria-label="close">&times;</button>
		Invite your friends around the globe to join us today! The more we are, the better <strong class="noto"><span>QueMilonga.com</span></strong> will serve the community.
	</div><br>
	<div id="map" style="width: 80%; height: auto;">
		
	</div><br>

	<button type="button" class="but btn" ng-click="go()">BACK</button>

</div>
