<div class="container"><br><br>
	
	<h3 class="noto">Take a look! </h3>
	<h4>These are the spots <strong class="noto"><span>QueMilonga.com</span></strong> has reached so far </h4>
	<hr>
	
	<div id="map" style="width: 80%; height: auto;">
		
	</div><hr><br>

	<div>
		<h4>Ask your friends around the globe to join us today! The more we are, the better <strong class="noto"><span>QueMilonga.com</span></strong> will serve the community.</h4><br>

		<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.quemilonga.com%2F%23%2FgeneralMap&picture=https%3A%2F%2Fs3-us-west-1.amazonaws.com%2Fwww.quemilonga.com%2Flegswithlogo.png&title=QueMilonga.com+Map&caption=QueMilonga.com+%7C+Worldwide+Tango+Calendar&quote=WOW%21+Take+a+look+at+all+the+places+they+have+reached.&description=Finally+all+in+one+place.+Milongas+and+classes+worldwide%2C+your+favorite+teacher%27s+schedules%2C+a+tango+forum+to+discuss+different+topics+and+much+more.+Join+Us+Today%21"><div class='shareButton' style="float: left;"></div></a><br>

	</div><br>

	<button type="button" class="but btn" ng-click="go()">BACK</button>

</div>
