<section class="clearfix">
    <div class="container">
        <div class="section-left">

<!--             <form id="find_range" class="form-inline">
              <div class="form-group">
                <label class="section-title">Find milongas within</label>
                <select class="form-control" ng-model="search.range">
                    <option ng-value="10">10</option> 
                    <option ng-value="25">25</option>
                    <option ng-value="50" ng-selected="search">50</option>
                    <option ng-value="75">75</option>
                    <option ng-value="100">100</option>
                    <option ng-value="200">200</option>
                </select>
              </div>
              <div class="form-group">
                <label class="section-title">miles from</label>
                <input type="text" g-places-autocomplete ng-model="search.city" options="autocompleteOptions" placeholder="Enter a City" ng-value='search.city'/>
                <input ng-if='search.city' type="button" id="location_icon" ng-click="setCurrentLocation()"></input>
              </div>

              <input type="submit" class="btn btn-primary" value="Find" ng-click="getMilongas()"></input>
            </form> -->
            <div class="searchLine">
                <h4 class="inline">Find milongas within</h4>
                <select class="inline searchInputs" ng-model="search.range">
                    <option ng-value="10" style="color: black">10</option> 
                    <option ng-value="25" style="color: black">25</option>
                    <option ng-value="50" ng-selected="search" style="color: black">50</option>
                    <option ng-value="75" style="color: black">75</option>
                    <option ng-value="100" style="color: black">100</option>
                    <option ng-value="200" style="color: black">200</option>
                </select>
                <h4 class="inline">miles from</h4>
                <input class="inline searchInputs" type="text" g-places-autocomplete ng-model="search.city" options="autocompleteOptions" placeholder="Enter a City" ng-value='search.city'/>
<!--                 <input class="inline" ng-if='search.city' type="button" id="location_icon" ng-click="setCurrentLocation()"></input> -->
            </div>

            
        </div>
        <div class="section-right">
            <a href="#/milongas/new"><button class="learn-more">Not listed? <br>Add Milonga</button></a>
        </div>
    </div>
</section>

<br>

<div class="container">
    

    <div class="row">

        <!-- TEST OF RESPONSIVE ACCORDION -->




        <div ng-if="anyMilonga()" class="col-xs-12 col-md-8 wrap zeromargin">
            

            <div class="col-sm-4">
                <input class="form-control" type="text" ng-model="filter_name" placeholder="Filter by city, teacher, etc">
            </div>
            <br><br>

            <div ng-repeat='day in milongas' ng-if='day.length > 0' class="milonga">
            <div ng-init="parentIndex = $index">
            <p id="mDate" class="inline">{{day[0].date | date : fullDate}}</p>

                <div class="panel-group" id="accordion{{parentIndex}}">
                    <div ng-repeat='m in day | filter:filter_name' ng-init="childIndex = $index" class="panel panel-default">
<!--                         <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapse{{parentIndex}}{{childIndex}}" ng-click='m.map.refresh()'> -->
                        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapse{{parentIndex}}{{childIndex}}" ng-click='getMapInfo(m._id, m.address)'>

                          <h4 class="panel-title">
                                <h3 class="inline m_name">{{m.title}}</h3><h5 class="inline" style="font-family: 'Copse', serif;">,&nbsp;{{m.address.city}}</h5><br>
                                <h6 ng-if="m._performers[0]._id" class="inline" style="font-family: 'Copse', serif;">Performance by:&nbsp;</h6><h6 ng-repeat='p in m._performers' class="inline"><a class='body_links' href="#/performers/{{p._id}}"> {{p.name}}&nbsp;</a></h6>
                                
                            </h4>
                        </div>
                        <div id="collapse{{parentIndex}}{{childIndex}}" class="panel-collapse collapse" >
<!--                           {{childIndex}} -->

                            <div class="panel-body" class="row">
                                <div class="col-xs-12 col-sm-6 col-md-8">
                                    <h5 style="font-family: 'Copse', serif;">{{m.start_time | date:'shortTime'}} - {{m.end_time | date:'shortTime'}}</h5>
                                    

                                    <div ng-if="m._class_teachers[0]._id" class="clase">
                                        <h5 style="font-family: 'Copse', serif;">Class by: </h5><h5 ng-repeat='t in m._class_teachers' class="inline"><a class='body_links' href="#/performers/{{t._id}}">{{t.name}}&nbsp;</a></h5>
                                        <h5 ng-if='m.class_start_time' style="font-family: 'Copse', serif;">{{m.class_start_time | date:'shortTime'}} - {{m.class_end_time | date:'shortTime'}}</h5>
                                    </div><br>
                                    <h5>{{m.details}}</h5>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <h5 ng-if='m.address.st_number' style="font-family: 'Copse', serif;">{{m.address.st_number}} {{m.address.st_name}}, {{m.address.city}}, {{m.address.state}}</h5>
                                    <h5 ng-if='m.address.details'>{{m.address.details}}</h5>
                                    <div id="map_canvas_{{m._id}}" class="mapa"></div>

                                    <a href="{{m.link}}" class="open_maps"><button type="button" class="btn btn-info" style="font-family: 'Copse', serif;">Open in maps</button></a>
                                    <div><br>
                                        <h6 class="inline">Milonga: ${{m.price}}</h6>
                                        <h6 class="inline" ng-if='m.class_price'>|&nbsp;&nbsp;&nbsp;&nbsp;Class: ${{m.class_price}}</h6>
                                        <h6 class="inline" ng-if='m.class_combo_price'>|&nbsp;&nbsp;&nbsp;&nbsp;Milonga & Class: ${{m.class_combo_price}}</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row linksbackground">
                                <h6 class="col-xs-4 col-sm-4 littlelinks" style="font-family: 'Copse', serif;">Last updated by: <a ng-click='openFaceProfile(m._added_by.id)'>{{m._added_by.name}}</a></h6>
                                <h6 class="col-xs-4 col-sm-4 littlelinks" style="font-family: 'Copse', serif;">Not accurate? <a href="#/milongas/{{m._id}}/edit">UPDATE</a></h6>
                                <h6 class="col-xs-4 col-sm-4 littlelinks"><a ng-click='sendMail("qmilonga@gmail.com","Something is Wrong","Tell us more about what is wrong with this milonga {{m._id}}")'>Report a problem</a></h6>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>    
            </div>








        </div>






        <!-- IF THERE IS NO MILONGAS FOR THAT DATE -->
        <div ng-if="anyMilonga() == false" class="col-xs-12 col-md-8">
            <div>
                <h4>Sorry, no milongas found.</h4>
            </div>
        </div>

        <!-- CALENDAR FOR OTHER DATES -->
        <div class="col-xs-8 col-md-4">
            <h5>Want to check other dates?</h5>
            <div uib-datepicker ng-model="search.date" class="well-sm" datepicker-options="options">
            </div>
        </div>

    </div>

</div>

</div>


