<br><div class="alert alert-warning fade in container">
    <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
    <strong class="noto">Welcome<span ng-if='user.first_name' class="noto"> {{user.first_name}}</span> to QueMilonga.com!</strong> We are launching our <strong>community-driven</strong> WORLWIDE TANGO CALENDAR, where you can find all the information you need, in one place. We encourage you to very easily <a href="#/milongas/new" class="body_links noto">POST A MILONGA</a> or <a href="#/classes/new" class="body_links noto">POST A CLASS</a> that you don't see, and spread the word in your community. The more we contribute, the better <strong>QueMilonga.com</strong> can serve all of us. You can also check our <a class='body_links noto' href="#/threads/587bffed166ccb87548255f9">Welcome Thread</a> or visit our <h4 class="inline"><a href="#/forum" style="font-family: 'La Belle Aurore', cursive; color: #0000ff">QueMilonga<strong style="font-family: 'Inconsolata', monospace; ">FORUM</strong></a></h4>. We would love to hear what you think!
</div>

<section id='section' class="clearfix container foto2">

            <div class="searchLine inline">
                <h4 class="inline">Find</h4>
                <select class="inline searchInputs" ng-model="search.what">
                    <option ng-selected="search" style="color: black">Milongas</option> 
                    <option style="color: black">Classes</option>
                    <option style="color: black">All</option>
                </select>
                <h4 class="inline">within</h4>
                <select class="inline searchInputs" ng-model="search.range">
                    <option style="color: black">10</option> 
                    <option style="color: black">25</option>
                    <option ng-selected="search" style="color: black">50</option>
                    <option style="color: black">75</option>
                    <option style="color: black">100</option>
                    <option style="color: black">200</option>
                </select>
                <h4 class="inline">miles from</h4>
                <input class="inline searchInputs cityInput" type="text" g-places-autocomplete ng-model="search.city" options="autocompleteOptions" placeholder="Enter a City" ng-value='search.city' ng-click="search.city = null"/>
                <div class="inline" id='useCurrentLocation' ng-click='useCurrentLocation()' data-toggle="tooltip" data-placement="bottom" title="Use your current location"></div><br>
                <h5 ng-if='userDeniedLocation'>Current Location permission denied.</h5> <h6 ng-if='userDeniedLocation'>You can change your browser location settings or enter a city.</h6>
            </div>


</section>

<br>

<div class="container" id="mainInfoPartial" >
    
    

    <div class="row">


        <div ng-if="anyMilonga()" class="col-xs-12 col-md-8 wrap zeromargin">   
            

            <div ng-if='sorryMsg'>
                <h4 ng-if='search.what != "All"' style="color: #EAAF00; background-color: #f5f5f0; padding: .8em; border: 1px solid #EAAF00; border-radius: 5px;">Sorry, no {{search.what}} found for <strong>{{search.date | date : fullDate}}</strong>. See the next few days's results:</h4>
                <h4 ng-if='search.what == "All"' style="color: #EAAF00; background-color: #f5f5f0; padding: .8em; border: 1px solid #EAAF00; border-radius: 5px;">Sorry, no events found for <strong>{{search.date | date : fullDate}}</strong>. See the next few days's results:</h4><br>
            </div>


            <input class="form-control" type="text" ng-model="filter_name" placeholder="Filter by city, teacher, etc"><br>


            <div ng-repeat='day in milongas' ng-if='day.length > 0' class="milonga">
            <br>
            <div ng-init="parentIndex = $index">
            
            <h4 id="mDate" class="inline noto">{{day[0].date | date : fullDate}}</h4>
                <div class="panel-group datesBorder" id="accordion{{parentIndex}}">
                    
                    <div ng-repeat='m in day | filter:filter_name' ng-init="childIndex = $index" class="panel panel-default">

                    <!-- START OF CLASS -->

                        <div ng-if='m.event_type == "class"'>
                            <div class="panel-heading accordion-toggle collapsed pointer milongaOpen classPanel" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapse{{parentIndex}}{{childIndex}}" ng-click='getMapInfo(m._id, m.address); getButtonsInfo(m._id); '>

                                <div class="panel-title">
                                    <div class="smallerTittle">
                                    <!-- {{m._class_teachers}} -->
                                        <h4 style="margin: 0;">Class @ {{m.start_time | date:'shortTime'}}</h4><h5 class="inline" ng-repeat='p in m._class_teachers'>
                                            <a ng-if='p.pending == false' class='body_links noto' href="#/performers/{{p._id}}">{{p.name}}</a>
                                            <p ng-if='p.pending == true' class="pending" style="padding-right: 5px;">{{p.name}}</p>
                                        </h5><br>
                                    </div>

                                    <div style="margin: 0;">

                                        <h5 style="margin: 0;"ng-if="m.topic" class="inline" >Topic: </h5>
                                        <h5 style="margin: 0;" ng-if="m.topic" class="inline noto"> {{m.topic}}, </h5>
                                        <h5 style="margin: 0;"class="inline">{{m.address.city}}</h5>
                                    </div>
                                    

                                    
                                </div>
                            </div>

                            <div id="collapse{{parentIndex}}{{childIndex}}" class="panel-collapse collapse" >

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-8">
                                            <h5 class="noto" ng-if='m.class_price > 0'>Class: ${{m.class_price}}</h5>
                                            <h5 class="noto" ng-if='m.class_price == 0'>Class: <strong style="color: green">FREE</strong></h5>
                                            <h5 class="noto">{{m.start_time | date:'shortTime'}} - {{m.end_time | date:'shortTime'}}</h5>
                                        </div>

                                        <div class="col-xs-6 col-md-4 centered" style="padding-right: 0;">
                                            <h6 style="margin: 0"></h6>
                                            <div id="buttonsBox" class="centered">


                                                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.quemilonga.com%2F%23%2Fclasses%2F{{m._id}}&picture=https%3A%2F%2Fs3-us-west-1.amazonaws.com%2Fwww.quemilonga.com%2Flegswithlogo.png&title=Class+with+{{m._class_teachers[0].name}}+and+{{m._class_teachers[1].name}}{{m._class_teachers[2].name}}+%7C+{{m.date | date : fullDate}}%2C+{{m.address.city}}%2C+{{m.start_time | date:'shortTime'}}&caption=QueMilonga.com+%7C+Worldwide+Tango+Calendar&quote=Who+else+is+going%3F+I+am%21&description={{m.topic}}%2C+{{m.details}}%2C+Join+us+for+a+great+class%21+"><div class='shareButton inline'></div><br></a>


                                                <div class="saveButton inline" id='sc{{m._id}}' ng-click='saveClass(m._id)' data-toggle="tooltip" data-placement="top" title="Save event for later"></div>
                                                <div class="attendButton inline" id='ac{{m._id}}' ng-click='attendClass(m._id)' data-toggle="tooltip" data-placement="top" title="Attend this event"></div>
                                                <div class="friendsButton inline" data-toggle="modal" data-target="#myModal" data-toggle="tooltip" data-placement="top" title="See who is attending this event" ng-click='getAttendees(m._id, m.event_type)'></div>
                                                <br>
                                                <h6 id='status{{m._id}}'></h6>
                                                

                                            </div>
                                        </div>
                                    </div><br>
                                    

                                

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-8">

                                            <h4>{{m.details}}</h4><br ng-if='m.details'>

                                        </div>



                                        <div class="col-xs-12 col-md-4 centered">
                                            <!-- <img src="https://scontent.fsnc1-2.fna.fbcdn.net/v/t31.0-8/s960x960/15875258_10211206070848884_4866808849013575843_o.jpg?oh=9f3675c3fd927ef6a2bc5045667b0c9a&oe=58DD16AD" alt="AAAA" class="img-thumbnail" ng-click='imageModal("https://scontent.fsnc1-2.fna.fbcdn.net/v/t31.0-8/s960x960/15875258_10211206070848884_4866808849013575843_o.jpg?oh=9f3675c3fd927ef6a2bc5045667b0c9a&oe=58DD16AD")'> -->
                                            <h4 ng-if='m.address.st_number' class="noto mobileAddress">{{m.address.st_number}} {{m.address.st_name}}, {{m.address.city}}, {{m.address.state}}</h4>
                                            <h4 ng-if='m.address.details' class="mobileAddress">({{m.address.details}})</h4>
                                            <div id="map_canvas_{{m._id}}" class="mapa"></div>

                                            <button type="button" class="btn btn-info noto" ng-click='openInMaps(m.address)'>Open in maps</button>
                                        </div>

                                        
                                    </div>
                                </div>

                                <div class="row linksbackground">


                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='openFaceProfile(m._added_by.id)'>
                                        <h5>Updated by: <span class="body_links noto">{{m._added_by.name}}</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" href="#/classes/{{m._id}}/edit">
                                        <h5><span class="body_links noto">UPDATE DETAILS</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='sendMail("qmilonga@gmail.com","Something is Wrong","Tell us more about what is wrong with this milonga {{m._id}}")'>
                                        <h5 class="body_links noto">Report a problem</h5>
                                    </a>
                                </div>
                                
                            </div>
                        </div> <!-- END OF EVENT_TYPE = CLASS -->


                        <div ng-if='m.event_type == "milonga" || !m.event_type' >
                            <div class="panel-heading accordion-toggle collapsed pointer milongaOpen milongaPanel" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapse{{parentIndex}}{{childIndex}}" ng-click='getMapInfo(m._id, m.address); getButtonsInfo(m._id); '>

                                <div class="panel-title">
                                    <div class="smallerTittle">
                                        <h2 class="inline m_name noto">{{m.title}}</h2><h4 class="inline">, {{m.address.city}}</h4><br>
                                    </div>

                                    <h6 ng-if="m._performers[0]._id" style="margin: 0;">Performance by:</h6>
                                    <h5 ng-repeat='p in m._performers' class="inline">
                                        <a ng-if='p.pending == false' class='body_links noto' href="#/performers/{{p._id}}">{{p.name}}</a>
                                        <p ng-if='p.pending == true' class="pending" style="padding-right: 5px;">{{p.name}}</p>
                                    </h5>
                                    
                                </div>
                            </div>

                            <div id="collapse{{parentIndex}}{{childIndex}}" class="panel-collapse collapse" >

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-8">
                                            <h5 class="noto" ng-if='m.price > 0'>Milonga: ${{m.price}}</h5>
                                            <h5 class="noto" ng-if='m.price == 0'>Milonga: <strong style="color: green">FREE</strong></h5>
                                            <h5 class="noto">{{m.start_time | date:'shortTime'}} - {{m.end_time | date:'shortTime'}}</h5>
                                        </div>

                                        <div class="col-xs-6 col-md-4 centered" style="padding-right: 0;">
                                            <h6 style="margin: 0"></h6>
                                            <div id="buttonsBox" class="centered">

                                                
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.quemilonga.com%2F%23%2Fmilongas%2F{{m._id}}&picture=https%3A%2F%2Fs3-us-west-1.amazonaws.com%2Fwww.quemilonga.com%2Flegswithlogo.png&title={{m.title}}+%7C+{{m.address.city}}%2C+{{m.start_time | date:'shortTime'}}&caption=QueMilonga.com+%7C+Worldwide+Tango+Calendar&quote=Who+else+is+going%3F+I+am%21&description={{m.details}}+Join+us+at+{{m.title}}+for+a+great+night%21+"><div class='shareButton inline'></div><br></a>
                                                

                                                <div class="saveButton inline" id='s{{m._id}}' ng-click='saveEvent(m._id)' data-toggle="tooltip" data-placement="top" title="Save event for later"></div>
                                                <div class="attendButton inline" id='a{{m._id}}' ng-click='attendEvent(m._id)' data-toggle="tooltip" data-placement="top" title="Attend this event"></div>
                                                <div class="friendsButton inline" data-toggle="modal" data-target="#myModal" data-toggle="tooltip" data-placement="top" title="See who is attending this event" ng-click='getAttendees(m._id, m.event_type)'></div>
                                                <br>
                                                <h6 id='status{{m._id}}'></h6>
                                                

                                            </div>
                                        </div>
                                    </div><br>
                                    

                                

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-8">


                                            <div ng-if="m.class_start_time" class="clase">
                                                <h4 class="noto">Class </h4>
                                                <h5 ng-if='m._class_teachers' class="inline">by:</h5>
                                                <h5 ng-repeat='t in m._class_teachers' class="inline">
                                                    <a ng-if='t.pending == false' class='body_links noto' href="#/performers/{{t._id}}">{{t.name}}</a>
                                                    <p ng-if='t.pending == true' class="pending" style="padding-right: 5px;">{{t.name}}</p>
                                                </h5>
                                                <h4 class="inline" ng-if='m.class_start_time'>@ {{m.class_start_time | date:'shortTime'}} - {{m.class_end_time | date:'shortTime'}}</h4><br>
                                                <h5 class="inline noto" ng-if='m.class_price > 0'>Class: ${{m.class_price}}</h5>
                                                <h5 class="inline noto" ng-if='m.class_price == 0'>Class: <strong style="color: green;">FREE</strong></h5>
                                                <h5 class="inline noto" ng-if='m.class_combo_price'>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Milonga & Class: ${{m.class_combo_price}}</h5>
                                            </div><br ng-if='m.details'>
                                            <h4>{{m.details}}</h4><br ng-if='m.details'>

                                        </div>
                                        <div class="col-xs-12 col-md-4 centered">
                                            <h4 ng-if='m.address.st_number' class="noto mobileAddress">{{m.address.st_number}} {{m.address.st_name}}, {{m.address.city}}, {{m.address.state}}</h4>
                                            <h4 ng-if='m.address.details' class="mobileAddress">({{m.address.details}})</h4>
                                            <div id="map_canvas_{{m._id}}" class="mapa"></div>

                                            <button type="button" class="btn btn-info noto" ng-click='openInMaps(m.address)'>Open in maps</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row linksbackground">


                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='openFaceProfile(m._added_by.id)'>
                                        <h5>Updated by: <span class="body_links noto">{{m._added_by.name}}</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" href="#/milongas/{{m._id}}/edit">
                                        <h5><span class="body_links noto">UPDATE DETAILS</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='sendMail("qmilonga@gmail.com","Something is Wrong","Tell us more about what is wrong with this milonga {{m._id}}")'>
                                        <h5 class="body_links noto">Report a problem</h5>
                                    </a>
                                </div>
                                
                            </div>
                        </div> <!-- END OF EVENT_TYPE = MILONGA -->

                        



                    </div><!--  END OF FOR M IN DAY -->
                </div> <!--  END OF PANEL GROUP -->
            </div>    <!-- END OF INDEX -->
            </div>  <!-- END OF FOR DAY IN MILONGAS -->








        </div>






        <!-- IF THERE IS NO MILONGAS FOR THAT DATE -->
        <div ng-if="anyMilonga() == false" class="col-xs-12 col-md-8">
            <div style="color: #EAAF00; background-color: #f5f5f0; padding: .8em; border: 1px solid #EAAF00; border-radius: 5px;">
                <h4>Sorry, no results found for <strong>{{search.date | date : fullDate}}</strong>.</h4>
            </div><br>
            <div style="text-align: center;">
                <h4>You can try searching other dates or cities, or: </h4><br>
                <button type="button" class="but btn" ng-click="go('/milongas/new')">POST NEW MILONGA</button>
                <button type="button" class="but btn" ng-click="go('/classes/new')">POST NEW CLASS</button>
                <br><hr>
            </div>
            
<!-- 
                <a href="#/milongas/new" class="body_links">POST NEW MILONGA</a>
                <a href="#/classes/new" class="body_links">POST NEW CLASS</a> -->
                
        </div>

        <!-- CALENDAR FOR OTHER DATES -->
        <div class="col-xs-12 col-md-4 calendar" >
            <div>
                <h4 class="noto">Check other dates</h4>
                <div uib-datepicker ng-model="search.date" class="well-sm" datepicker-options="options"></div>
            </div><br><hr class="hr">
            <div>
                <button type="button" class="but btn btn-secondary btn-lg btn-block" ng-click="go('/generalMap')">SEE OUR REACH</button><br>
            

                <div class="container" style="text-align: center; border-top: 4px solid #e64d00; border-right: 1px solid #e64d00; border-left: 1px solid #e64d00; box-shadow: 10px 10px 5px #888888; background-color: #fbfafa;">

                        <form name="form2">
                            <div class="form-group"><br>
                                <h4 class="noto" >Did you know?</h4><br>


                                <label for="recipient-name" class="form-control-label">You can find your favorite dancer's schedule and follow him!</label>
                                <h5>Dancer's full name: (e.g: "Osvaldo Zotto")</h5>

                                <input type="text" class="form-control" id="recipient-name" ng-model="dancer.name" name="dName" required="">
                                <div class="errorMsgs" ng-show="form2.dName.$touched" ng-if='fullname'>
                                    <div ng-show="form2.dName.$error.required">Enter a full name</div>
                                </div>
                            </div>

                            <div ng-if='onlyOneMsg'>
                                <h5 style="color:red;">{{onlyOneMsg}}</h5>
                            </div>
                            <div ng-if='matches.length > 0'>
                                <h3 class="noto">Did you mean...</h3>
                                <a ng-repeat='m in matches' class="body_links" style="cursor: pointer; display: block;" ng-click='viewPerformer(m._id);'>.. {{m.name}}?</a>
                                <br>
                                <p>If we couldn't find a match, you can still put a request to add him/her.</p>
                            </div>
                            <div ng-if='matches.length == 0'>
                                <h5 style="color:red;" id="noMatchMessage">We couldn't find a match, you can still put a request to add him/her to our database.</h5>
                            </div>
                            <div ng-if='msg'>
                                <h5 style="color:green;" >Thanks! Request succesfully submitted.</h5>
                            </div>

                            
                            <br>
                            <input ng-show='!matches' type="submit" class="btn btn-primary noto" ng-click="findMatches(2)" value="Find"/>
                            <input ng-show='matches' type="submit" class="btn btn-primary noto" ng-click="addPerformer()" value="Request Permission to Add"/>
                            <br><br>
                        </form>


                    </div>
                </div>
                <br><br>

                <div class="container" style="text-align: center; border-top: 4px solid #e64d00; border-right: 1px solid #e64d00; border-left: 1px solid #e64d00; box-shadow: 10px 10px 5px #888888; background-color: #fbfafa; padding: 1em;">
                    <h4 class="noto" style="color: #b30000;">Are you a <br> TANGO PROFESSIONAL?</h4><br>
                    <h4 style="font-weight: bolder;">See a <a class="body_links noto" href="#/performers/587ef328d6d0e9cc02be0295">SAMPLE</a> of a complete profile!</h4><br>
                    <p>If you are a professional dancer and would like to edit and share your profile <a href="#/linkPerfAccount" class="body_links noto">Click HERE</a> and we will link your account to it!</p>
                </div>

                



            </div>
        </div>

    </div>
    
    


</div> <!--END OF CONTAINER -->


</div>

