<div class="container"><br>

	<div class="alert alert-warning fade in">
		<button class="close" data-dismiss="alert" aria-label="close">&times;</button>
		<strong class="noto">Welcome<span ng-if='user.first_name'>, {{user.first_name}}</span>!</strong> In order to help the community, please make sure the event you are adding is not already in our database, and the information is accurate. Thanks!
	</div>
	<h2 class="noto">Add a New Milonga </h2> <br>

	<form name="form">
	<div class="form-group row">
	  <label for="example-date-input" class="col-md-2 col-form-label">Date * </label>
	  <div class="col-md-5">

		 <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="event.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="mDate" required=""/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <div class="errorMsgs" ng-show="form.$submitted || form.mDate.$touched">
      		<div ng-show="form.mDate.$error.required">Choose one date by clicking on the calendar</div>
    	</div>

	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-2 col-form-label" >Title *</label>
	  <div class="col-md-5">
	    <input class="form-control" type="text" ng-click='passDate()' value="Artisanal kale" id="example-text-input" ng-model="event.title" name="mTitle" required="" maxlength="25">

	    <div class="errorMsgs" ng-show="form.$submitted || form.mTitle.$touched">
      		<div ng-show="form.mTitle.$error.required">Enter the milonga title</div>
      	</div>
	  </div>
	  
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-2 col-form-label">Start Time *</label>
	  <div class="col-md-5">
	    <input class="form-control" type="time" value="13:45:00" id="example-time-input" ng-model="event.start_time" name="mStart" required="">
	    <div class="errorMsgs" ng-show="form.$submitted || form.mStart.$touched">
      		<div ng-show="form.mStart.$error.required">Enter a valid starting time</div>
      	</div>
	  </div>
	  
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-2 col-form-label">End Time *</label>
	  <div class="col-md-5">
	    <input class="form-control" type="time" value="13:45:00" id="example-time-input" ng-model="event.end_time" name="mEnd" required="">
	    <div class="errorMsgs" ng-show="form.$submitted || form.mEnd.$touched">
      		<div ng-show="form.mEnd.$error.required">Enter a valid ending time</div>
      	</div>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-time-input" class="col-md-2 col-form-label">Performers</label>
	  <div class="col-md-5">
			<div
		    isteven-multi-select
		    input-model="performers"
		    output-model="outputPerformers"
		    button-label="icon name"
		    item-label="name"
		    tick-property="ticked"
		    ng-click="toggleList('p')">
			</div>

	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-number-input" class="col-md-2 col-form-label">Milonga Price *</label>
	  <div class="col-md-5">
	    <input class="form-control" type="number" min="0" id="example-number-input" ng-model='event.price' name="mPrice" required="">
	    <div class="errorMsgs" ng-show="form.$submitted || form.mPrice.$touched">
      		<div ng-show="form.mPrice.$error.required">Enter a numeric value in your currency. (E.g: '12')</div>
      	</div>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-2 col-form-label">Address *</label>
	  <div class="col-md-5">
	    <input class="form-control" type="text" g-places-autocomplete ng-model='address' options="autocompleteOptions" placeholder="Start typing and select from Google options" name="mAddress" required="" />
	    <div class="errorMsgs" ng-show="form.$submitted || form.mAddress.$touched">
      		<div ng-show="form.mAddress.$error.required || !address.address_components || !hasStNumber()" class="redBorder">Invalid format. Start typing an address and choose from Google results.</div>
      	</div>
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-2 col-form-label" >Address Details</label>
	  <div class="col-md-5">
	    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input" ng-model="event.address.details" maxlength="60" placeholder="e.g: Suite #">
	  </div>
	</div>

	<br><br>


	<div class="form-group row body_links noto" id="showClass" ng-click='showClass()'>
	  <h4 for="example-number-input">Add Class Details</h4>
	</div>


	<div id="newClassForm">
		<div class="form-group row">
		  <label for="example-time-input" class="col-md-2 col-form-label">Class Start Time</label>
		  <div class="col-md-5">
		    <input class="form-control" type="time" value="13:45:00" id="example-time-input" ng-model="event.class_start_time">
		  </div>
		</div>
		<div class="form-group row">
		  <label for="example-time-input" class="col-md-2 col-form-label">Class End Time</label>
		  <div class="col-md-5">
		    <input class="form-control" type="time" value="13:45:00" id="example-time-input" ng-model="event.class_end_time">
		  </div>
		</div>
		<div class="form-group row">
		  <label for="example-time-input" class="col-md-2 col-form-label">Class Teachers</label>
		  <div class="col-md-5">
				<div
			    isteven-multi-select
			    input-model="teachers"
			    output-model="outputTeachers"
			    button-label="icon name"
			    item-label="name"
			    tick-property="ticked"
			    ng-click="toggleList('t')">
				</div>
		  </div>
		</div>
		<div class="form-group row">
		  <label for="example-number-input" class="col-md-2 col-form-label">Class Price</label>
		  <div class="col-md-5">
		    <input class="form-control" type="number" min="0" id="example-number-input" ng-model='event.class_price'>
		  </div>
		</div>
		<div class="form-group row">
		  <label for="example-number-input" class="col-md-2 col-form-label">Class + Milonga combo price (optional):</label>
		  <div class="col-md-5">
		    <input class="form-control" type="number" min="0" id="example-number-input" ng-model='event.class_combo_price'>
		  </div>
		</div><br>
	</div>
	<br><hr><br>



	<div class="form-group row">
	  <label for="example-text-input" class="col-md-2 col-form-label">Event Description</label>
	  <div class="col-md-5">
	    <textarea class="form-control" id="exampleTextarea" maxlength="600" ng-model='event.details' placeholder="Details like organizer's contact info, etc. Max Length 600 characters."></textarea>
	  </div>
	</div><br><br>
	<div class="form-group row">
	  <label for="example-text-input" class="col-md-2 col-form-label">Repeat milonga?</label>
	  <div class="col-md-5" id="multipleDatePicker">
	  	<div class="alert alert-warning">
  			<strong>Select all dates this milonga repeats: </strong><br>Only the title, time and address will be repeated. You can later update the specifics of each milonga from the calendar on the home page.  
		</div>
    	<multiple-date-picker disable-days-before="datesUntil" disallow-back-past-months="true" ng-click='passDate()' ng-model='repeatMilonga'></multiple-date-picker>
	  </div>
	</div><br>
	
	<div class="form-group row">
	  <label for="example-text-input" class="col-xs-6 col-form-label">* Required Fields</label>
	  <div class="col-xs-2">
	    <input type="submit" value="Add Milonga" ng-click='addMilonga()' class="btn btn-primary noto"></input>
	  </div>
	</div>
	</form>

	<br><br><br><br>
	
	

	</div>


</div>


