<!-- <div style="font-family: 'La Belle Aurore', cursive; background: url('../assets/legs.png'); width: 230px; height: 230px; margin-left: 20px; color: #cc0000; font-size: 1100%; padding-top: 40px; letter-spacing: -3px;">QM</div> -->

<div class="container" >
<br><br>    
    <a style="float: right; width: 25em;" href="#/performers/{{user.performerId}}"><button ng-if='user.performerId' type="button" class="but reach btn btn-secondary btn-lg btn-block">MY PERFORMER PROFILE</button></a><br>


    <div class="row">

        <div class="col-sm-6">
            
            
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active noto" ng-click="choose('attending')">
                <input type="radio" name="options" id="attending" autocomplete="off"> Attending
              </label>
              <label class="btn btn-primary noto" ng-click="choose('favorites')">
                <input type="radio" name="options" id="favorites" autocomplete="off"> Saved
              </label>
              
              <br><br>
              <h4 ng-if="choice == 'favorites'">your<strong> Saved for Later </strong>events</h4>
              <h4 ng-if="choice == 'attending'">Events you are <strong>Attending</strong></h4>
              <h6 ng-if="choice == 'favorites'">Only you can see your saved events</h6>
              <h6 ng-if="choice == 'attending'">Your name will appear on 'People attending this event'</h6>
            </div><br>
        </div>

        <div class="col-sm-4">
            <input class="form-control" type="text" ng-model="filter_name" placeholder="Filter by city, teacher, etc">
        </div>
        <br>

    	

    </div>

    <h5 id='successMsg' style="color: green"></h5><br>

	<div ng-if="choice == 'favorites'" class="col-xs-12 col-md-8 wrap zeromargin">

            <div ng-init="parentIndex = $index">
            

                <div class="panel-group" id="accordion{{parentIndex}}">
                    <div ng-repeat="m in favorites | filter:filter_name | orderBy: 'date'" ng-init="childIndex = $index" ng-if="m.date >= now" class="panel panel-default">



                        <div ng-if='m.event_type == "milonga"'>

                            <h5 id="mDate" class="inline">{{m.date | date : fullDate}}</h5>
                        
                            <div class="panel-heading accordion-toggle collapsed pointer milongaOpen milongaPanel" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapse{{parentIndex}}{{childIndex}}" >

                                <h4 class="panel-title">

                                    <h3 class="inline m_name noto">{{m.title}}</h3><h5 class="inline">,&nbsp;{{m.address.city}}</h5>
                                    <div style="float: right;">
                                        <div class="closeIcon inline" ng-click='stopSaving(m._id)'></div>
                                    </div>
                                    
                                    <br>

                                    <h6 ng-if="m._performers[0]._id" style="margin: 0;">Performance by:</h6>
                                    <h5 ng-repeat='p in m._performers' class="inline">
                                        <a ng-if='p.pending == false' class='body_links noto' href="#/performers/{{p._id}}">{{p.name}}</a>
                                        <p ng-if='p.pending == true' class="pending" style="padding-right: 5px;">{{p.name}}</p>
                                    </h5>
                                    
                                </h4>
                            </div>

                            <div id="collapse{{parentIndex}}{{childIndex}}" class="panel-collapse collapse" >

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-8">
                                            <h5 class="noto" ng-if='m.price > 0'>Milonga: ${{m.price}}</h5>
                                            <h5 class="noto" ng-if='m.price == 0'>Milonga: <strong style="color: green">FREE</strong></h5>
                                            <h5 class="noto">{{m.start_time | date:'shortTime'}} - {{m.end_time | date:'shortTime'}}</h5>
                                        </div>

                                        <div class="col-xs-6 col-md-4 centered" style="padding-right: 0;">
                                            <div id="buttonsBox" class="centered">
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.quemilonga.com%2F%23%2Fmilongas%2F{{m._id}}&picture=https%3A%2F%2Fs3-us-west-1.amazonaws.com%2Fwww.quemilonga.com%2Flegswithlogo.png&title={{m.title}}+%7C+{{m.address.city}}%2C+{{m.start_time | date:'shortTime'}}&caption=QueMilonga.com+%7C+Worldwide+Tango+Calendar&quote=Who+else+is+going%3F+I+am%21&description={{m.details}}+Join+us+at+{{m.title}}+for+a+great+night%21+"><div class='shareButton inline'></div><br></a>
                                                <div class="attendButton inline" id='a{{m._id}}' ng-click='attendEvent(m._id)' data-toggle="tooltip" data-placement="top" title="Move to Attending Events"></div>
                                                <div class="friendsButton inline" data-toggle="modal" data-target="#myModal" data-toggle="tooltip" data-placement="top" title="See who is attending this event" ng-click='getAttendees(m._id, m.event_type)'></div>
                                                <br><h6>Event saved</h6>
                                            </div>
                                        </div>
                                    </div><br>
                                    

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-8">

                                            <div ng-if="m.class_start_time" class="clase">
                                                <h5 class="noto">Class </h5>
                                                <h6 ng-if='m._class_teachers' class="inline">by:</h6>
                                                <h6 ng-repeat='t in m._class_teachers' class="inline">
                                                    <a ng-if='t.pending == false' class='body_links noto' href="#/performers/{{t._id}}">{{t.name}}</a>
                                                    <p ng-if='t.pending == true' class="pending" style="padding-right: 5px;">{{t.name}}</p>
                                                </h6>
                                                <h5 class="inline" ng-if='m.class_start_time'>@ {{m.class_start_time | date:'shortTime'}} - {{m.class_end_time | date:'shortTime'}}</h5><br>
                                                <h5 class="inline noto" ng-if='m.class_price > 0'>Class: ${{m.class_price}}</h5>
                                                <h5 class="inline noto" ng-if='m.class_price == 0'>Class: <strong style="color: green;">FREE</strong></h5>
                                                <h6 class="inline noto" ng-if='m.class_combo_price'>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Milonga & Class: ${{m.class_combo_price}}</h6>
                                            </div><br ng-if='m.details'>
                                            <h5>{{m.details}}</h5><br ng-if='m.details'>
                                        </div>



                                        <div class="col-xs-12 col-md-4 centered">
                                            <h4 ng-if='m.address.st_number' class="noto mobileAddress">{{m.address.st_number}} {{m.address.st_name}}, {{m.address.city}}, {{m.address.state}}</h4>
                                            <h4 ng-if='m.address.details' class="mobileAddress">({{m.address.details}})</h4>

                                            <button type="button" class="btn btn-info noto" ng-click='openInMaps(m.address)'>Open in maps</button>
                                        </div>


                                    </div>
                                </div>

                                <div class="row linksbackground">


                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='openFaceProfile(m._added_by.id)'>
                                        <h5>Updated by: <span class="body_links noto">{{m._added_by.name}}</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" href="#/milongas/{{m._id}}/edit">
                                        <h5><span class="body_links noto">UPDATE DETAILS</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='sendMail("qmilonga@gmail.com","Something is Wrong","Tell us more about what is wrong with this milonga {{m._id}}")'>
                                        <h5 class="body_links noto">Report a problem</h5>
                                    </a>
                                </div>
                            </div>

                        </div>  <!-- END OF IF EVENT TYPE == MILONGA -->  



                        <div ng-if='m.event_type == "class"'>

                            <h5 id="mDate" class="inline">{{m.date | date : fullDate}}</h5>
                        
                            <div class="panel-heading accordion-toggle collapsed pointer milongaOpen classPanel" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapse{{parentIndex}}{{childIndex}}" >


                                <!-- TOP SECTION OF EACH CLASS -->
                                <div class="panel-title">
                                    <div class="smallerTittle">
                                    <!-- {{m._class_teachers}} -->
                                        <h4 style="margin: 0;">Class @ {{m.start_time | date:'shortTime'}}</h4>
                                        <div style="float: right;">
                                            <div class="closeIcon inline" ng-click='stopSavingClass(m._id)'></div>
                                        </div>
                                        <h5 class="inline" ng-repeat='p in m._class_teachers'>
                                            <a ng-if='p.pending == false' class='body_links noto' href="#/performers/{{p._id}}">{{p.name}}</a>
                                            <p ng-if='p.pending == true' class="pending" style="padding-right: 5px;">{{p.name}}</p>
                                        </h5><br>

                                        
                                    </div>

                                    <div style="margin: 0;">

                                        <h5 style="margin: 0;"ng-if="m.topic" class="inline" >Topic: </h5>
                                        <h5 style="margin: 0;" ng-if="m.topic" class="inline noto"> {{m.topic}}, </h5>
                                        <h5 style="margin: 0;"class="inline">{{m.address.city}}</h5>
                                    </div> 

                                </div>



                            </div>

                            <div id="collapse{{parentIndex}}{{childIndex}}" class="panel-collapse collapse" >

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-8">
                                            <h5 class="noto" ng-if='m.class_price > 0'>Class: ${{m.class_price}}</h5>
                                            <h5 class="noto" ng-if='m.class_price == 0'>Class: <strong style="color: green">FREE</strong></h5>
                                            <h5 class="noto">{{m.start_time | date:'shortTime'}} - {{m.end_time | date:'shortTime'}}</h5>
                                        </div>

                                        <div class="col-xs-6 col-md-4 centered" style="padding-right: 0;">
                                            <h6 style="margin: 0"></h6>
                                            <div id="buttonsBox" class="centered">
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.quemilonga.com%2F%23%2Fclasses%2F{{m._id}}&picture=https%3A%2F%2Fs3-us-west-1.amazonaws.com%2Fwww.quemilonga.com%2Flegswithlogo.png&title=Class+with+{{m._class_teachers[0].name}}+and+{{m._class_teachers[1].name}}{{m._class_teachers[2].name}}+%7C+{{m.date | date : fullDate}}%2C+{{m.address.city}}%2C+{{m.start_time | date:'shortTime'}}&caption=QueMilonga.com+%7C+Worldwide+Tango+Calendar&quote=Who+else+is+going%3F+I+am%21&description={{m.topic}}%2C+{{m.details}}%2C+Join+us+for+a+great+class%21+"><div class='shareButton inline'></div><br></a>
                                                <div class="attendButton inline" id='ac{{m._id}}' ng-click='attendClass(m._id)' data-toggle="tooltip" data-placement="top" title="Move to Attending Events"></div>
                                                <div class="friendsButton inline" data-toggle="modal" data-target="#myModal" data-toggle="tooltip" data-placement="top" title="See who is attending this event" ng-click='getAttendees(m._id, m.event_type)'></div>
                                                <br><h6>Event saved</h6>
                                            </div>
                                        </div>
                                    </div><br>
                                    

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-8">

                                            <h4>{{m.details}}</h4><br ng-if='m.details'>

                                        </div>
                                        <div class="col-xs-12 col-md-4 centered">
                                            <h4 ng-if='m.address.st_number' class="noto mobileAddress">{{m.address.st_number}} {{m.address.st_name}}, {{m.address.city}}, {{m.address.state}}</h4>
                                            <h4 ng-if='m.address.details' class="mobileAddress">({{m.address.details}})</h4>

                                            <button type="button" class="btn btn-info noto" ng-click='openInMaps(m.address)'>Open in maps</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row linksbackground">


                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='openFaceProfile(m._added_by.id)'>
                                        <h5>Updated by: <span class="body_links noto">{{m._added_by.name}}</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" href="#/classes/{{m._id}}/edit">
                                        <h5><span class="body_links noto">UPDATE DETAILS</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='sendMail("qmilonga@gmail.com","Something is Wrong","Tell us more about what is wrong with this milonga {{m._id}}")'>
                                        <h5 class="body_links noto">Report a problem</h5>
                                    </a>
                                </div>


                            </div>
                        </div>  <!-- END OF IF EVENT TYPE == CLASS -->                            




                    </div>
                </div>
            </div>    

    </div>



    <!-- FIX ZEROMARGIN FOR THE MOBILE VERSION -->
    <div ng-if="choice == 'attending'" class="col-xs-12 col-md-8 wrap zeromargin">

            <div ng-init="parentIndex = $index" >
            

                <div class="panel-group" id="accordion{{parentIndex}}">
                    <div ng-repeat="m in attending | filter:filter_name | orderBy: 'date'" ng-init="childIndex = $index" ng-if="m.date >= now" class="panel panel-default">



                        <div ng-if='m.event_type == "milonga"'>

                            <h5 id="mDate" class="inline">{{m.date | date : fullDate}}</h5>
                        
                            <div class="panel-heading accordion-toggle collapsed pointer milongaOpen milongaPanel" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapse{{parentIndex}}{{childIndex}}" >

                              <h4 class="panel-title">

                                    <h3 class="inline m_name noto">{{m.title}}</h3><h5 class="inline">,&nbsp;{{m.address.city}}</h5>
                                    <div style="float: right;">
                                        <div class="closeIcon inline" ng-click='stopAttending(m._id)'></div>
                                    </div>
                                    <br>

                                    <h6 ng-if="m._performers[0]._id" style="margin: 0;">Performance by:</h6>
                                    <h5 ng-repeat='p in m._performers' class="inline">
                                        <a ng-if='p.pending == false' class='body_links noto' href="#/performers/{{p._id}}">{{p.name}}</a>
                                        <p ng-if='p.pending == true' class="pending" style="padding-right: 5px;">{{p.name}}</p>
                                    </h5>
                                    
                                    
                              </h4>
                            </div>
                            <div id="collapse{{parentIndex}}{{childIndex}}" class="panel-collapse collapse" >

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-8">
                                            <h5 class="noto" ng-if='m.price > 0'>Milonga: ${{m.price}}</h5>
                                            <h5 class="noto" ng-if='m.price == 0'>Milonga: <strong style="color: green">FREE</strong></h5>
                                            <h5 class="noto">{{m.start_time | date:'shortTime'}} - {{m.end_time | date:'shortTime'}}</h5>
                                        </div>

                                        <div class="col-xs-6 col-md-4 centered" style="padding-right: 0;">
                                            <div id="buttonsBox" class="centered">
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.quemilonga.com%2F%23%2Fmilongas%2F{{m._id}}&picture=https%3A%2F%2Fs3-us-west-1.amazonaws.com%2Fwww.quemilonga.com%2Flegswithlogo.png&title={{m.title}}+%7C+{{m.address.city}}%2C+{{m.start_time | date:'shortTime'}}&caption=QueMilonga.com+%7C+Worldwide+Tango+Calendar&quote=Who+else+is+going%3F+I+am%21&description={{m.details}}+Join+us+at+{{m.title}}+for+a+great+night%21+"><div class='shareButton inline'></div><br></a>
                                                <div class="saveButton inline" id='s{{m._id}}' ng-click='saveEvent(m._id)' data-toggle="tooltip" data-placement="top" title="Move to Saved for Later"></div>
                                                <div class="friendsButton inline" data-toggle="modal" data-target="#myModal" data-toggle="tooltip" data-placement="top" title="See who is attending this event" ng-click='getAttendees(m._id, m.event_type)'></div>
                                                <br><h6>Attending event</h6>
                                            </div>
                                        </div>
                                    </div><br>
                                    

                                

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-8">

                                            <div ng-if="m.class_start_time" class="clase">
                                                <h5 class="noto">Class </h5>
                                                <h6 ng-if='m._class_teachers' class="inline">by:</h6>
                                                <h6 ng-repeat='t in m._class_teachers' class="inline">
                                                    <a ng-if='t.pending == false' class='body_links noto' href="#/performers/{{t._id}}">{{t.name}}</a>
                                                    <p ng-if='t.pending == true' class="pending" style="padding-right: 5px;">{{t.name}}</p>
                                                </h6>
                                                <h5 class="inline" ng-if='m.class_start_time'>@ {{m.class_start_time | date:'shortTime'}} - {{m.class_end_time | date:'shortTime'}}</h5><br>
                                                <h5 class="inline noto" ng-if='m.class_price > 0'>Class: ${{m.class_price}}</h5>
                                                <h5 class="inline noto" ng-if='m.class_price == 0'>Class: <strong style="color: green;">FREE</strong></h5>
                                                <h6 class="inline noto" ng-if='m.class_combo_price'>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Milonga & Class: ${{m.class_combo_price}}</h6>
                                            </div><br ng-if='m.details'>
                                            <h5>{{m.details}}</h5><br ng-if='m.details'>
                                        </div>
                                        <div class="col-xs-12 col-md-4 centered">
                                            <h4 ng-if='m.address.st_number' class="noto mobileAddress">{{m.address.st_number}} {{m.address.st_name}}, {{m.address.city}}, {{m.address.state}}</h4>
                                            <h4 ng-if='m.address.details' class="mobileAddress">({{m.address.details}})</h4>

                                            <button type="button" class="btn btn-info noto" ng-click='openInMaps(m.address)'>Open in maps</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row linksbackground">


                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='openFaceProfile(m._added_by.id)'>
                                        <h5>Updated by: <span class="body_links noto">{{m._added_by.name}}</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" href="#/classes/{{m._id}}/edit">
                                        <h5><span class="body_links noto">UPDATE DETAILS</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='sendMail("qmilonga@gmail.com","Something is Wrong","Tell us more about what is wrong with this milonga {{m._id}}")'>
                                        <h5 class="body_links noto">Report a problem</h5>
                                    </a>
                                </div>
                                
                            </div>

                        </div> <!-- END OF IF EVENT TYPE IS MILONGA -->


                        <div ng-if='m.event_type == "class"'>

                            <h5 id="mDate" class="inline">{{m.date | date : fullDate}}</h5>
                        
                            <div class="panel-heading accordion-toggle collapsed pointer milongaOpen classPanel" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapse{{parentIndex}}{{childIndex}}" >


                                <!-- TOP SECTION OF EACH CLASS -->
                                <div class="panel-title">
                                    <div class="smallerTittle">
                                    <!-- {{m._class_teachers}} -->
                                        <h4 style="margin: 0;">Class @ {{m.start_time | date:'shortTime'}}</h4>
                                        <div style="float: right;">
                                            <div class="closeIcon inline" ng-click='stopAttendingClass(m._id)'></div>
                                        </div>
                                        <h5 class="inline" ng-repeat='p in m._class_teachers'>
                                            <a ng-if='p.pending == false' class='body_links noto' href="#/performers/{{p._id}}">{{p.name}}</a>
                                            <p ng-if='p.pending == true' class="pending" style="padding-right: 5px;">{{p.name}}</p>
                                        </h5><br>

                                        
                                    </div>

                                    <div style="margin: 0;">

                                        <h5 style="margin: 0;"ng-if="m.topic" class="inline" >Topic: </h5>
                                        <h5 style="margin: 0;" ng-if="m.topic" class="inline noto"> {{m.topic}}, </h5>
                                        <h5 style="margin: 0;"class="inline">{{m.address.city}}</h5>
                                    </div> 

                                </div>



                            </div>

                            <div id="collapse{{parentIndex}}{{childIndex}}" class="panel-collapse collapse" >

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-8">
                                            <h5 class="noto" ng-if='m.class_price > 0'>Class: ${{m.class_price}}</h5>
                                            <h5 class="noto" ng-if='m.class_price == 0'>Class: <strong style="color: green">FREE</strong></h5>
                                            <h5 class="noto">{{m.start_time | date:'shortTime'}} - {{m.end_time | date:'shortTime'}}</h5>
                                        </div>

                                        <div class="col-xs-6 col-md-4 centered" style="padding-right: 0;">
                                            <h6 style="margin: 0"></h6>
                                            <div id="buttonsBox" class="centered">
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.quemilonga.com%2F%23%2Fclasses%2F{{m._id}}&picture=https%3A%2F%2Fs3-us-west-1.amazonaws.com%2Fwww.quemilonga.com%2Flegswithlogo.png&title=Class+with+{{m._class_teachers[0].name}}+and+{{m._class_teachers[1].name}}{{m._class_teachers[2].name}}+%7C+{{m.date | date : fullDate}}%2C+{{m.address.city}}%2C+{{m.start_time | date:'shortTime'}}&caption=QueMilonga.com+%7C+Worldwide+Tango+Calendar&quote=Who+else+is+going%3F+I+am%21&description={{m.topic}}%2C+{{m.details}}%2C+Join+us+for+a+great+class%21+"><div class='shareButton inline'></div><br></a>
                                                <div class="saveButton inline" id='sc{{m._id}}' ng-click='saveClass(m._id)' data-toggle="tooltip" data-placement="top" title="Move to Saved for Later"></div>
                                                <div class="friendsButton inline" data-toggle="modal" data-target="#myModal" data-toggle="tooltip" data-placement="top" title="See who is attending this event" ng-click='getAttendees(m._id, m.event_type)'></div>
                                                <br><h6>Attending event</h6>
                                            </div>
                                        </div>
                                    </div><br>
                                    

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-8">

                                            <h4>{{m.details}}</h4><br ng-if='m.details'>

                                        </div>
                                        <div class="col-xs-12 col-md-4 centered">
                                            <h4 ng-if='m.address.st_number' class="noto mobileAddress">{{m.address.st_number}} {{m.address.st_name}}, {{m.address.city}}, {{m.address.state}}</h4>
                                            <h4 ng-if='m.address.details' class="mobileAddress">({{m.address.details}})</h4>

                                            <button type="button" class="btn btn-info noto" ng-click='openInMaps(m.address)'>Open in maps</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row linksbackground">


                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='openFaceProfile(m._added_by.id)'>
                                        <h5>Updated by: <span class="body_links noto">{{m._added_by.name}}</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" href="#/classes/{{m._id}}/edit">
                                        <h5><span class="body_links noto">UPDATE DETAILS</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='sendMail("qmilonga@gmail.com","Something is Wrong","Tell us more about what is wrong with this milonga {{m._id}}")'>
                                        <h5 class="body_links noto">Report a problem</h5>
                                    </a>
                                </div>


                            </div>
                        </div>  <!-- END OF IF EVENT TYPE == CLASS -->     







                    </div>
                </div>
            </div>    
    </div>





</div>

