<!-- {{class}} -->

<div class="container" style="width: 55%">
        <br>
        <h4 class="noto">Share this class with your friends on FB:</h4>
        <br>
        <hr>
        <br>


                <h4 id="mDate" class="inline noto">{{class.date | date : fullDate}}</h4>
                <div class="panel-group datesBorder" id="accordion">
                    
                    <div class="panel panel-default">

                    <!-- START OF CLASS -->

                        <div>
                            <div class="panel-heading accordion-toggle pointer milongaOpen classPanel" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" data-target="#collapse{{parentIndex}}{{childIndex}}">

                                <div class="panel-title">
                                    <div class="smallerTittle">
 
                                        <h4 style="margin: 0;">Class @ {{class.start_time | date:'shortTime'}}</h4><h5 class="inline" ng-repeat='p in class._class_teachers'>
                                            <a ng-if='p.pending == false' class='body_links noto' href="#/performers/{{p._id}}">{{p.name}}</a>
                                            <p ng-if='p.pending == true' class="pending" style="padding-right: 5px;">{{p.name}}</p>
                                        </h5><br>
                                    </div>

                                    <div style="margin: 0;">

                                        <h5 style="margin: 0;"ng-if="class.topic" class="inline" >Topic: </h5>
                                        <h5 style="margin: 0;" ng-if="class.topic" class="inline noto"> {{class.topic}}, </h5>
                                        <h5 style="margin: 0;"class="inline">{{class.address.city}}</h5>
                                    </div>
                                    

                                    
                                </div>
                            </div>

                            <div id="collapse{{parentIndex}}{{childIndex}}" class="panel-collapse collapse in" >

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-8">
                                            <h5 class="noto">Class: ${{class.class_price}}</h5>
                                            <h5 class="noto">{{class.start_time | date:'shortTime'}} - {{class.end_time | date:'shortTime'}}</h5>
                                        </div>

                                        <div class="col-xs-6 col-md-4 centered" style="padding-right: 0;">
                                            <h6 style="margin: 0"></h6>
                                            <div id="buttonsBox" class="centered">
                                                <div class="saveButton inline" id='sc{{class._id}}' ng-click='saveClass(class._id)' data-toggle="tooltip" data-placement="top" title="Save event for later"></div>
                                                <div class="attendButton inline" id='ac{{class._id}}' ng-click='attendClass(class._id)' data-toggle="tooltip" data-placement="top" title="Attend this event"></div>
                                                <div class="friendsButton inline" data-toggle="modal" data-target="#myModal" data-toggle="tooltip" data-placement="top" title="See your friends attending this event"></div>
                                            </div>
                                        </div>
                                    </div><br>
                                    

                                

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-8">

                                            <h4>{{class.details}}</h4><br ng-if='class.details'>

                                        </div>
                                        <div class="col-xs-12 col-md-4 centered">
                                            <h4 ng-if='class.address.st_number' class="noto mobileAddress">{{class.address.st_number}} {{class.address.st_name}}, {{class.address.city}}, {{class.address.state}}</h4>
                                            <h4 ng-if='class.address.details' class="mobileAddress">({{class.address.details}})</h4>
                                            <div id="map_canvas_{{class._id}}" class="mapa"></div>

                                            <button type="button" class="btn btn-info noto" ng-click='openInMaps(class.address)'>Open in maps</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row linksbackground">


                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='openFaceProfile(class._added_by.id)'>
                                        <h5>Updated by: <span class="body_links noto">{{class._added_by.name}}</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" href="#/classes/{{class._id}}/edit">
                                        <h5>Not accurate? <span class="body_links noto">UPDATE</span></h5>
                                    </a>

                                    <a class="col-xs-4 col-sm-4 littlelinks" ng-click='sendMail("qmilonga@gmail.com","Something is Wrong","Tell us more about what is wrong with this milonga {{class._id}}")'>
                                        <h5 class="body_links noto">Report a problem</h5>
                                    </a>
                                </div>
                                
                            </div>
                        </div> <!-- END OF EVENT_TYPE = CLASS -->
                </div>
        </div>

<br><button type="button" class="but btn" ng-click="go('/')">HOME</button>

</div>
