<div class="container" id="showPage">

<!-- {{performer}} -->
	<div id="showPageInfo">
		<h3 class="noto">{{performer.name}}</h3>
		<h4>Upcoming events</h4><br><br>
	</div>

	<!-- {{performer._milongas_attending}} -->



	<div ng-if='performer._milongas_attending.length < 1'>
		<br><br>
		<h5>Sorry, this performer doesn't have any milongas listed.</h5>
		<h4>Do you know where he/she's going to be? <a href="#/milongas/new" class="body_links noto">Add the event and list him!</a></h4>
		<br><br>
	</div>
	

	<div class="scrollbar" id="style-13" >
      	<div class="force-overflow">
			<table class="table table-hover" >
			  <thead>
			    <tr>
			      <th></th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>

			  	<tr ng-repeat='m in performer._milongas_attending | orderBy : sortMilongas'>

			        <th scope="row" ng-if="m.milonga[0].event_type == 'milonga' && (m.milonga[0].date >= now || m.class[0].date >= now) " style="background-color: #f8fcfb;">
			        	<a href="#/milongas/{{m.milonga[0]._id}}" style="color: black" class="scheduleLinks">
			        	<h3 ng-if='m.action == "performance" || m.action == "both"' style="font-weight: bolder">{{m.milonga[0].title}}</h3>
			        	<h5 ng-if='m.action == "performance" || m.action == "both"'>{{m.milonga[0].address.city}}, {{m.milonga[0].address.country}}</h5>
			        	

			        	<h3 ng-if='m.action == "class"' style="font-weight: bolder">{{m.milonga[0].title}}</h3>
			        	<h4 ng-if='m.action == "class"'>{{m.milonga[0].address.city}}, {{m.milonga[0].address.country}}</h4>
			        	</a>

			        </th>

			      	<td ng-if='m.action == "performance"' style="background-color: #f8fcfb;">
			      		<h4 style="color: red">PERFORMANCE</h4>
			      		<h5 style="font-weight: bolder">{{m.milonga[0].date | date : fullDate}}</h5>
			      		<h5>{{m.milonga[0].start_time | date:'shortTime'}} - {{m.milonga[0].end_time | date:'shortTime'}}</h5>
			      		<h5>${{m.milonga[0].price}}</h5>

			      	</td>

		  		  	<td ng-if='m.action == "both"' style="background-color: #fcf8f9">
			      		<h4 style="color: red">PERFORMANCE AND CLASS</h4>
			      		<h5 style="font-weight: bolder">{{m.milonga[0].date | date : fullDate}}</h5>
			      		<h5>Class: {{m.milonga[0].class_start_time | date:'shortTime'}} - {{m.milonga[0].class_end_time | date:'shortTime'}} | ${{m.milonga[0].class_price}}</h5>
			      		<h5>Milonga: {{m.milonga[0].start_time | date:'shortTime'}} - {{m.milonga[0].end_time | date:'shortTime'}} | ${{m.milonga[0].price}}</h5>
			      		<h5 ng-if='m.milonga[0].class_combo_price'>Combo Price: ${{m.milonga[0].class_combo_price}}</h5>
			      	</td>

		  		  	<td ng-if='m.action == "class" && m.milonga[0].event_type == "milonga"' style="background-color: #fcf8f9">      		
		  		  		<h4 style="color: red">PRE MILONGA CLASS</h4>
			      		<h5 style="font-weight: bolder">{{m.milonga[0].date | date : fullDate}}</h5>
			      		<h5>{{m.milonga[0].class_start_time | date:'shortTime'}} - {{m.milonga[0].class_end_time | date:'shortTime'}}</h5>
			      		<h5>${{m.milonga[0].class_price}}</h5>
			      	</td>


			        <th scope="row" ng-if="m.class[0].event_type == 'class' && (m.class[0].date >= now || m.class[0].date >= now) " style="background-color: #fcf8f9" class="scheduleLinks">
			        	<a href="#/classes/{{m.class[0]._id}}" style="color: black">
			        	<h4>Topic: <strong>{{m.class[0].topic}}</strong></h4>
			        	<h5>{{m.class[0].address.city}}, {{m.class[0].address.country}}</h5>
			        	</a>
			        </th>

			      	<td ng-if="m.class[0].event_type == 'class' && (m.class[0].date >= now || m.class[0].date >= now) " style="background-color: #fcf8f9">
			      		<h4 style="color: red">STUDIO CLASS</h4>
			      		<h5 style="font-weight: bolder">{{m.class[0].date | date : fullDate}}</h5>
			      		<h5>{{m.class[0].start_time | date:'shortTime'}} - {{m.class[0].end_time | date:'shortTime'}}</h5>
			      		<h5>${{m.class[0].class_price}}</h5>
			      	</td>

			      	

			    </tr>

			    <!-- <tr ng-if="m.milonga[0].event_type == 'milonga' && (m.milonga[0].date >= now || m.class[0].date >= now) " ng-repeat='m in performer._milongas_attending | orderBy : sortMilongas : true'>

				        <th scope="row">
				        	<a href="#/milongas/{{m.milonga[0]._id}}" style="color: black">
				        	<h3 ng-if='m.action == "performance" || m.action == "both"' style="font-weight: bolder">{{m.milonga[0].title}}</h3>
				        	<h4 ng-if='m.action == "performance" || m.action == "both"'>{{m.milonga[0].address.city}}, {{m.milonga[0].address.country}}</h4>
				        	

				        	<h3 ng-if='m.action == "class"' style="font-weight: bolder">{{m.milonga[0].title}}</h3>
				        	<h4 ng-if='m.action == "class"'>{{m.milonga[0].address.city}}, {{m.milonga[0].address.country}}</h4>
				        	</a>

				        </th>

				      	<td ng-if='m.action == "performance"'>
				      		<h4 style="color: red">PERFORMANCE</h4>
				      		<h5 style="font-weight: bolder">{{m.milonga[0].date | date : fullDate}}</h5>
				      		<h5>{{m.milonga[0].start_time | date:'shortTime'}} - {{m.milonga[0].end_time | date:'shortTime'}}</h5>
				      		<h5>${{m.milonga[0].price}}</h5>

				      	</td>

			  		  	<td ng-if='m.action == "both"'>
				      		<h4 style="color: red">PERFORMANCE AND CLASS</h4>
				      		<h5 style="font-weight: bolder">{{m.milonga[0].date | date : fullDate}}</h5>
				      		<h5>Class: {{m.milonga[0].class_start_time | date:'shortTime'}} - {{m.milonga[0].class_end_time | date:'shortTime'}} | ${{m.milonga[0].class_price}}</h5>
				      		<h5>Milonga: {{m.milonga[0].start_time | date:'shortTime'}} - {{m.milonga[0].end_time | date:'shortTime'}} | ${{m.milonga[0].price}}</h5>
				      		<h5 ng-if='m.milonga[0].class_combo_price'>Combo Price: ${{m.milonga[0].class_combo_price}}</h5>
				      	</td>

			  		  	<td ng-if='m.action == "class"'>      		
			  		  		<h4 style="color: red">PRE MILONGA CLASS</h4>
				      		<h5 style="font-weight: bolder">{{m.milonga[0].date | date : fullDate}}</h5>
				      		<h5>{{m.milonga[0].class_start_time | date:'shortTime'}} - {{m.milonga[0].class_end_time | date:'shortTime'}}</h5>
				      		<h5>${{m.milonga[0].class_price}}</h5>
				      	</td>

			    </tr>

			    <tr ng-if="m.class[0].event_type == 'class' && (m.class[0].date >= now || m.class[0].date >= now) " ng-repeat='m in performer._milongas_attending | orderBy : !sortMilongas : true'>


				        <th scope="row">
				        	<a href="#/classes/{{m.class[0]._id}}" style="color: black">
				        	<h4>Topic: <strong>{{m.class[0].topic}}</strong></h4>
				        	<h4>{{m.class[0].address.city}}, {{m.class[0].address.country}}</h4>
				        	</a>
				        </th>

				      	<td>
				      		<h4 style="color: red">STUDIO CLASS</h4>
				      		<h5 style="font-weight: bolder">{{m.class[0].date | date : fullDate}}</h5>
				      		<h5>{{m.class[0].start_time | date:'shortTime'}} - {{m.class[0].end_time | date:'shortTime'}}</h5>
				      		<h5>${{m.class[0].class_price}}</h5>
				      	</td>

			    </tr> -->


			  </tbody>
			</table>
		</div>
    </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90299590-1', 'auto');
  ga('send', 'pageview');

</script>