.city {
	font-size: 70%;
}

.mapa{
	display: none;
	height: 12em; 
	width: 12em;
	margin: 0 auto;
	margin-bottom: 15px;
}

#queMilonga {
	margin: 0;
	font-family: 'La Belle Aurore', cursive;
	font-size: 75%;
	text-decoration: none;
}
#queMilonga:hover{
	text-decoration: none;
	color:white;
}
#queMilonga:visited{
	text-decoration: none;
	color:white;
}
#com {
	font-family: 'La Belle Aurore', cursive;
	font-size: 60%;
}

.redBack{
	display: none;
}


#mDate {
	border-top: 4px solid #e64d00;
	border-left: 1px solid #ff884d;
	border-right: 1px solid #ff884d;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: 20px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#exampleSelect2 {
	background-color: transparent;
	color: white;
}

.inline {
	display: inline-block;

}

.linksbackground{
	background-color: #cc0000;
	padding: 0;
	margin: 0;
}

.littlelinks{
	text-align: center;
	cursor: pointer;
}
.littlelinks:hover{
	text-decoration: none;
	color: white;
}

/*#fbIcon {
	background: url('facebook.png');
	width: 1.2em;
	height: 1.2em;
	vertical-align: center;
	background-position: center;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

#updateIcon {
	background: url('update.png');
	width: 1.2em;
	height: 1.2em;
	vertical-align: center;
	background-position: center;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

#reportIcon {
	background: url('report.png');
	width: 1.2em;
	height: 1.2em;
	vertical-align: center;
	background-position: center;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}*/


#location_icon {
	background: url('32x32.png');
	width: 25px;
	height: 25px;
	background-position: center; 
}

*{
  margin: 0;
	padding: 0;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
}
*:before,
*:after{
	-webkit-box-sizing: border-box;
}
.clearfix {
  *zoom: 1;
}
html{
	font-size: 12px;
}
body{
	background: url('brushed_alu.png');

}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.container{
	width: 80%;
	margin: 0 auto;
}
header{
	width: 100%;
	height: auto;
	background: black;
}
.header-left,
.header-right{
	position: relative;
	color: white;
	float: left;
}
.header-left{
	width: 30%;
	font-size: 5em;
	font-family: 'La Belle Aurore', cursive;
}

.panel-title{
	padding: 0;
}
.m_name{
	margin: 0;
}
.header-right label{
	position: absolute;
	top: -3.7em;
	right: 0;
	cursor: pointer;
}
.header-right span{
	position: relative;
	width: 2em;
	height: 2em;
	background: rgba(255,255,255,.3);
	-webkit-transition: all .3s ease;
}
.header-right span:hover{
	background: rgba(255,255,255,.6);
}
.header-right span:before,
.header-right span:after{
	content: '';
	position: absolute;
	width: 2em;
	height: .5em;
	top: 4px;
	left: 0;
	background: black;
}

.foto {
	background-image: url("milonga.jpg");
}

.closeIcon {
	background-image: url("close_button.png");
	width: 1em;
	height: 1em;
	background-color: transparent;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
.closeIcon:hover {
	width: 1.5em;
	height: 1.5em;
}

.pointer {
	cursor: pointer;
}

#buttonsBox {
	/*border: 1px solid #D5DBDB;*/
	padding: 5px;
/*	margin: 5px;*/
}

.noto{
	font-family: 'Noto Serif', serif;
}

.header-right span:after{
	top: 14px;
}
.header-right{
	width: 70%;
	text-align: right;
}
#open{
	display: none;
}
h1{
	font-weight: 300;
	line-height: 40px;
}
a{
	text-decoration: none;
	color: white;
}

.body_links{
	color: #EAAF00;
	text-decoration: underline;
	padding: 3px;
}

.clase {
	border-top: 4px solid #e64d00;
	border-left: 1px solid #ff884d;
	border-right: 1px solid #ff884d;
	padding: 1em 1em 0 1em ;
}

.centered {
	text-align: center;
}

.cente{
	margin: 0 auto;
}
.fav-attending {
	margin: 3em 0 3em 0;
}

.navLinks {
	font-size: 1.2em;
	letter-spacing: 0.1em;
	cursor: pointer;
}

nav>a{
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 40px;
	padding: 0 2em;
	-webkit-transition: all .3s ease;
}
nav>a:hover{
	background: rgba(255,255,255,.9);
	color: black;
}

#footerNav{
	padding-top: 2em;
	padding-bottom: 2em;
}

#footerNav>a{
/*	padding: 1.5em;*/
	line-height: 40px;
	padding: 0 2em;
}

#footerNav>a:hover{
	background: black;
	color: white;
	cursor: pointer;
}

.hidden-desktop{
	display: none;
}

#find_range input {
	padding-left: 10px;
	color: white;
	background-color: transparent;
}
section{
	width: 100%;
	height: auto;
	background-image: -webkit-linear-gradient(#660000 0%, #b30000 100%);
	border-top: 1px solid white;

}
.searchLine {
	color: white; 
	/*padding: 1em; */
	/*font-weight: lighter;*/
}

.searchInputs {
	background-color: transparent;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 2px;
	margin:5px;
	padding-bottom: 2px;
	border: 1px white;
	border-style: none solid dotted solid;
}

.cityInput {
	width: 15em;
	padding-left: 7px;
}

.searchLine {
	padding-right: 0;
}



.section-left,
.section-right{
	float: left;
}
.section-left{
	width: 70%;
	padding: 3em 0;
}
.section-right{
	/*width: 30%;*/
	margin: 2em auto 1em auto;
	float:left;
}
.section-title,
.section-tagline{
	color: white;
	font-weight: 300;
	margin: 0;
	padding: 0;
	-webkit-transition: all .4s ease;
}
.section-title{
	font-size: 1.6em;
	margin-bottom: .3em;
	text-shadow: 0 3px 0px black,
				 0 4px 0px rgba(150,150,150,.5);
}

#l {
	padding-left: 10px;
}
.section-tagline{
	font-size: 1em;
	color: black;
}
.learn-more{
	display: table;
	margin: 1em auto;
	padding: 1em 3em;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.8);
	background: #EAAF00;
	background-image: -webkit-linear-gradient(#EAAF00 0%, #D78100 100%);
	font-size: 1.4em;
}
.learn-more:hover{
	background: #EAAF00;
}
.learn-more:active{
	box-shadow: inset 0 2px 0 rgba(0,0,0,.8);
}
#mainInfo{
	margin-bottom: 6em;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.box{
		width: 49%;
		margin-bottom: 5%;
	}

	ul li:nth-child(3) .box{
		clear: both;
	}

	ul li:nth-child(2n) .box{
		margin-right: 0;
		clear: right;
	}

	.redBack{
		display: none;
	}
}

/* Small monitor */
@media (max-width: 979px){
	nav>a{
		padding: 0 1.5em;
	}
	.section-left,
	.section-right{
		width: 100%;
	}
	.section-left{
		text-align: center;
	}
	.section-right{
		padding: 0 0 2em;
	}
	.section-title{
		font-size: 1.6em;
		margin-bottom: .2em;
	}
	.section-tagline{
		font-size: 1.3em;
		color: black;
	}
	.learn-more{
		margin: 0 auto;
	}
	.redBack{
		display: none;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body{
		padding: 0;
	}

	.container{
		width: 100%;
		margin:0 auto;
		padding: 0;
	}

	.zeromargin {
		padding: 0;
		width: 100%;

	}

	nav>a{
		padding: 0 2em;
	}
	h1{
		padding: .5em 0;
	}
	.header-left,
	.header-right{
		width: 100%;
		text-align: center;
	}
	.section-left,
	.section-right{
		width: 100%;
	}
	.section-left{
		text-align: center;
		padding: 2em 0;
	}
	.section-right{
		padding: 1em 0 2em;
	}
	.section-title{
		font-size: 1.6em;
		margin-bottom: .2em;
	}
	.section-tagline{
		font-size: 1.3em;
		color: black;
	}
	.learn-more{
		margin: 0 auto;
	}
	.redBack{
		display: none;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	body{
		padding: 0;
	}

	#newMilLink {
		background: #EAAF00;
		background-image: -webkit-linear-gradient(#EAAF00 0%, #D78100 100%);
	}

	.navLinks {
		font-size: 1.2em;
		letter-spacing: 0.1em;
		background-color: black;
	}

	.calendar {
		margin: auto .5em auto 2em;

	}

	.container{
		width: 92%;
		margin:0 auto;
		padding: 0;
	}

	.zeromargin {
		padding: 0;
	}


	.panel-body{
		padding-left: 10px;
		padding-right: 10px;
	}

	.searchLine {
		padding-left: 0;
		padding-right: 0;
	}

	nav{
		height: 0;
		overflow: hidden;
		-webkit-transition: all .3s ease;
	}
	input[type="checkbox"]:checked + nav{
		height: 205px;
	}
	nav>a{
		padding: 0 1em;
		display: block;
		border-bottom: solid 1px rgba(255,255,255,.1);
	}

	#footerNav{
		height: auto;
		padding-top: 1em;
		padding-bottom: 1em;
		overflow: hidden;
		text-align: left;
	}

	#footerNav>a{
		display: block;
		line-height: 2em;

	}

	h1{
		padding: .5em 0;
	}

	.header-left,
	.header-right{
		width: 100%;
		text-align: center;
	}
	.section-left,
	.section-right{
		width: 100%;
	}
	.section-left{
		text-align: center;
		padding: 0;
	}
	.section-right{
		text-align: center;
		padding: 1em 0 2em;
		display: none;
	}

	.addMilongaMobile{
		text-align: center;
		padding: 2em 0;
	}

	.redBack{
		display: block;
		width: 100%;
		height: auto;
		background-image: -webkit-linear-gradient(#660000 0%, #b30000 100%);
	}
	.section-title{
		font-size: 1.6em;
		margin-bottom: 0;
	}
	.section-tagline{
		font-size: 1em;
		color: black;
	}
	.learn-more{
		display: table;
		margin: 0 auto;
	}
	.hidden-desktop{
		display: block;
	}
}

/*LOGIN CSS*/

#loginModal {
	text-align: center;
}

#login-btn {
	background-color: white;
	background-image: url("fblogin.png");
	width: 18em;
	height: 3em;
	background-size: auto 100%;
	background-repeat: no-repeat;
}


/*NEW MILONGA*/

#showClass {
	text-decoration: underline;
	cursor: pointer;
	padding-left: .5em;
}

#newClassForm {
	display: none;
}

.errorMsgs {
	color: red;
	font-size: 80%;
	padding: .5em;
}